<?php
/**
 * Copy Right IJH.CC
 * Each engineer has a duty to keep the code elegant
 * #fileid#
 */

if(!defined('__CORE_DIR')){
    exit("Access Denied");
}

class Mdl_#module#_Base extends Mdl_Table
{   
    
    protected $_table = '#table#';
    protected $_pk = '#pk#';
    protected $_cols = '#cols#';
}