@charset "utf-8";
/* CSS Document */
img{
	display: block;
	border: none;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.zh-m-top{
	width: 100%;
	font-size: 0.7rem;
	position: relative;
	text-align: center;
	line-height: 2.05rem;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
}
.zh-m-top .zh-m-back{
	position: absolute;
	top: 50%;
	margin-top: -0.37rem;
	left: 0.8rem;
	width: 0.41rem;
	height: 0.74rem;
	background: url(../images/back.png) no-repeat;
	background-size: 100%;
}
.zh-m-top .zh-m-adress{
	width: ;
	height: 0.9rem;
	position: absolute;
	right: 0.6rem;
	top: 50%;
	color: #000;
	font-size: 0.6rem;
	margin-top: -0.45rem;
	padding-left: 1rem;
	background: url(../images/adress-ico.png) no-repeat left 0;
	background-size: 1rem 1rem;
	line-height: 0.9rem;
}

.zh-m-head{
	width: 100%;
	margin-bottom: 0.3rem;
}
.zh-m-head img{
	width: 100%;
	vertical-align: left;
}

.zh-m-form{
	width: 100%;
	padding: 0 0.3rem; 
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	background-color: #fff;
}
.zh-m-form h1{
	width: 100%;
    height: 1rem;
    line-height: 1.0rem;
    color: #444;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}
.zh-m-form h1 span{
	color:#ff8c1b;
}
.zh-m-form p.zh-m-under-title{
	color: #ccc;
    text-align: center;
    font-size: 14px;
    line-height: 0.5rem;
}
.zh-m-form .input input{
	width: 100%;
	padding-left:2.1rem;
	height:1.1rem;
	line-height: 1.2rem;
	font-size: 14px;
	border: 1px solid #e5e5e5;
	color: #999;
	outline: none;
}
.zh-m-form form{
	margin-top: 0.4rem;
	margin-bottom: 0.1rem;
}
/*.zh-m-form input[type=text]{
	border-bottom: none;
}*/
.zh-m-form .zh-m-select-group{
	overflow: hidden;
}
.zh-m-form select.text{
	float: left;
	width: 50%;
	height: 1.1rem;
    padding: 0 0.7rem;
    line-height: 1.1rem;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    color: #bbb;
    outline: none;
    font-weight: 600;
}
.zh-m-form select:last-child{
	border-left:none; 
}
.zh-m-form input[type=submit]{
	margin-top: 0.3rem;
	font-size: 16px;
	border-radius: 5px;
	background-color: #ff4401;
	border: none;
	color: #fff;
}
.zh-m-form .input{
	position: relative;
}
.zh-m-form .input p{
	position:absolute;
	top:5px;
	left:20px;
}
.zh-m-form .input .posi-right{
	font-size: 14px;
	position: absolute;
	top: 0.3rem;
	right: 0.54rem;
	color: #ff4401;
}
.zh-m-form .input .black{
	color: #999;
    font-size: 14px;
    height: 1rem;
}
.zh-m-form>p:last-child{
	color: #7d7d7d;
    text-align: left;
    font-size: 12px;
    line-height: 22px;
}
.zh-m-form>p:last-child i{
	float: left;
    width: 12px;
    height: 12px;
    margin-top: 5px;
    margin-right: 4px;
    background: url(../images/gantanhao.png) no-repeat;
}
.zh-m-form>p .strong{
	color: #ff4401;
}

.zh-m-result{
	width: 100%;
    padding: 0.6rem 0.3rem 0.2rem;
    /*background-color: #fff;*/
    /* margin-top: 0.3rem; */
    /* border-top: 1px solid #e5e5e5; */
    /*border-bottom: 1px solid #e5e5e5;*/
}
.zh-m-result h1{
	font-size: 20px;
    color: #444;
    text-align: center;
    margin-bottom: 0.3rem;
}

.zh-m-result .zh-m-row{
	margin: 0 auto;
	height: 1.4rem;
	font-size: 16px;
	border: 1px solid #e5e5e5;
	border-bottom: 0;
	color: #666;
}
.zh-m-result .zh-m-row p{
	height: 1.4rem;
	line-height: 1.4rem;
	float: left;
}

.zh-m-result .zh-m-row .row-left{
	width: 4.56rem;
	text-align: center;
	border-right: 1px solid #e5e5e5;
}

.zh-m-result .zh-m-row .row-right{
	width: 4.77rem;
	text-align: center;
}
.zh-m-result .zh-m-row .stress{
	color: #ff4401;
}
.zh-m-result .zh-m-row:last-of-type{
	border-bottom: 1px solid #e5e5e5;
}
.zh-m-result .zh-m-ps{
	width: 100%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1rem;
    color: #ff4401;
}

.zh-m-pk{
	width: 100%;
	margin: 0.1rem 0;
	border-top: 1px solid #e5e5e5;
	/*border-bottom: 1px solid #e5e5e5;*/
}
.zh-m-pk img{
	width: 100%;
}
.zh-m-reason{
	width: 100%;
	border-top: 1px solid #e5e5e5;
}
.zh-m-reason img{
	width:100%;
}

p.zh-m-copy-right{
	text-align: center;
    font-size: 0.4rem;
    color: #444444;
    margin-bottom: 2.16rem;
    background-color: #fff;
}
/*三分钟学装修*/
.activite_min{
	width: 100%;
    overflow: hidden;
    border-left: none;
    border-right: none;
}
.activite_min div{
	background: #0d9bdf; 
}
.activite_min img{
	vertical-align: top;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.activite_min div:nth-child(2){
	position: relative;
}
.activite_min div:nth-child(2) p{
	width: 4.5rem;
    height: 0.8rem;
    line-height: 0.8rem;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    background: #FFF;
    border-radius: 10px;
    position: absolute;
    top: 10.5rem;
    left: 2.7rem;
    z-index: 2;
    color: #0d9bdf;
}
.activite_min div:nth-child(4){
	position: relative;
}
.activite_min div:nth-child(4) p{
	width: 3.2rem;
    height: 0.8rem;
   	line-height: 0.8rem;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    background: #FFF;
    border-radius: 10px;
    position: absolute;
    top: 7.8rem;
    left: 3.75rem;
    z-index: 2;
    color: #0d9bdf;
}
.activite_min div:nth-child(6){
	position: relative;
}
.activite_min div:nth-child(6) p{
	width: 5.2rem;
    height: 0.8rem;
    line-height: 0.8rem;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    background: #FFF;
    border-radius: 10px;
    position: absolute;
    top: 11rem;
    left: 2.4rem;
    z-index: 2;
    color: #0d9bdf;
}
.liucheng{
	padding: 0.3rem 0.2rem;
	text-align: center;
	background-color: #fff;
	margin-top: 0.3rem;
}
.liucheng>span{
	  display: inline-block;
	  height: 1rem;
	  line-height: 0.4rem;
	  font-size: 12px;
}
.liucheng>span i{
	float: left;
    margin-right: 5px;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.45rem;
    background-image: url(/themes/default/mobile/static/images/tenders-mainIco.png);
    background-repeat: no-repeat;
    background-size: 1.1rem 12.0rem;
    background-color: #ff4401;
}
.liucheng>span.l-c-1 i{
	  background-position: -0.12rem -7.31rem;
}
.liucheng>span.l-c-2 i{
	background-position: -0.12rem -8.56rem;
}
.liucheng>span.l-c-3 i{
	background-position: -0.12rem -9.75rem;
}
.liucheng ico{
	display: inline-block;
    width: 0.7rem;
    height: 0.8rem;
    background-image: url(/themes/default/mobile/static/images/tenders-mainIco.png);
    background-repeat: no-repeat;
    background-size: 2.4rem 1.8rem;
    background-position: -1.9rem 0.2rem;
    position: relative;
}
.liucheng p{
	font-size: 14px;
	/*margin-top: 0.2rem;*/
	line-height: 20px;
}
.liucheng p .stress{
	color: #ff4401;
}
.zh-m-result .cast-list{
	height: 1.5rem;
	margin-bottom: 0.5rem;
}
.zh-m-result .cast-list:first-child{
	border:1px solid #f8b299;
}
.zh-m-result .cast-list:first-child .wenz-right{
	height: 1.4rem;
}
.zh-m-result .cast-list:first-child .wenz-right .cast-word{
	height: 1.4rem;
}
.zh-m-result .cast-list:first-child .wenz-right .cast-word p:nth-child(1){
	color:red;
}
.zh-m-result .cast-list:nth-child(2){
	border:1px solid #bae3cb;
}
.zh-m-result .cast-list:nth-child(2) .wenz-right .cast-word p:nth-child(1){
	color:green;
}
.zh-m-result .cast-list:nth-child(3){
	border:1px solid #c0d6f8;
}
.zh-m-result .cast-list:nth-child(3) .wenz-right .cast-word p:nth-child(1){
	color:blue;
}
.zh-m-result .cast-list .cast-word{
	background: #f8f8f8;
}
.zh-m-result .cast-list .wenz-right .cast-word p:nth-child(1){
	height: 0.8rem;
    line-height: 0.8rem;
}
.zh-m-result .cast-list .wenz-right{
	width: 6.6rem;
}
.zh-m-pk li {
    width: 5rem;
    height: 2.8rem;
    float: left;
    position: relative;
    text-align: left;
    overflow: hidden;
}
.zh-m-pk li img{
    width:100%;
    height: 100%;
}
.zh-m-pk li a {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}
.zh-m-pk li .act-title {
    font-size: 0.72rem;
    line-height: 1rem;
    margin: 0.64rem 0 0.2rem 0.64rem;
    display: block;
    color: #FF3C4E;
}
.zh-m-pk li .act-bz {
    color: #999;
    font-size: 0.56rem;
    line-height: 0.8rem;
    margin-left: 0.64rem;
    display: block;
}
.zh-m-pk li .act-bz {
    color: #999;
    font-size: 0.56rem;
    line-height: 0.8rem;
    margin-left: 0.64rem;
    display: block;
}
.zh-m-result .cast-list:first-child .wenz-right .cast-word p:nth-child(2){
	height: 0.6rem;
}





