<form action="?system/config-#K#.html" mini-form="config-form" method="post" #formentype#>
<input type="hidden" name="K" value="#K#" />
<table width="100%" border="0" cellspacing="0" class="table-data form">