<tr>
	<th>#label#：</th>
	<td>
	<ul class="group-list">
		<li><label><input type="checkbox" name="data[#field#][]" value="<{$detail.#field#}>">#label#</label></li>
		<div class="clear-both"></div>
	</ul>#comment#
	</td>
</tr>
