<tr>
	<th>#label#：</th>
	<td>
		<label><input type="radio" name="data[#field#]" checked="checked" value="1"/>删除</label>&nbsp;&nbsp;
		<label><input type="radio" name="data[#field#]" value="0"/>正常</label>#comment#
	</td>
</tr>
