<tr>
    <th>#label#：</th>
    <td>
        <input type="hidden" name="data[#field#]" value="<{$detail.#field#}>" id="select_company_#field#_id" />
        <input type="text" value="<{$company.name}>" id="select_company_#field#_name" class="input w-300" readonly/>
        <{link ctl="company/company:dialog"  select="mini:#select_company_#field#_id,#select_company_#field#_name/N/选择装修公司" title="选择装修公司" class="button"}>#comment#
    </td>
</tr>
