<tr><th>#label#：</th><td><input type="text" name="data[#field#]" value="<{$detail.#field#}>" <{if $detail.#field#}>photo="<{$pager.img}>/<{$detail.#field#}>"<{/if}> class="input w-300" />&nbsp;&nbsp;&nbsp;<input type="file" name="data[#field#]" class="input w-100" />#comment#</td></tr>
