<tr><th>#label#：</th><td><input type="text" name="SO[#field#][0]" value="" class="input w-100" date="#field#" readonly/>~<input type="text" name="SO[#field#][1]" value="" class="input w-100" date="#field#" readonly/></td></tr>