html,
body {
	height: 100%;
	font-family: "Microsoft Yahei"
}

#doc {
	min-height: 100%;
	height: auto!important;
	height: 100%;
	position: relative;
	background-color: #f0ede7
}

.container-wrap {
	background-color: #f0ede7
}

#bd {
	padding-bottom: 255px
}

#ft {
	position: absolute;
	z-index: 98;
	bottom: 0;
	width: 100%;
	height: 255px;
	clear: both
}

.bd-inner {
	margin: 0 auto;
	padding: 81px 0 20px;
	width: 1000px
}

.btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	color: #fff;
	cursor: pointer;
	border-radius: 4px;
	font-weight: 400;
	text-decoration: none;
	transition: .3s;
	-webkit-transition: .3s
}

.btn:hover {
	text-decoration: none
}

.org-btn {
	background-color: #f60
}

.org-btn:hover {
	background-color: #ff7800;
	text-decoration: none
}

.grey-btn {
	background-color: #e3e3e3;
	color: #333
}

.grey-btn:hover {
	background-color: #e7e7e7;
	text-decoration: none
}

.small-btn {
	padding: 0 15px;
	height: 28px;
	line-height: 26px;
	line-height: 28px\9;
	font-size: 14px
}

.middle-btn {
	padding: 0 15px;
	height: 36px;
	line-height: 34px;
	line-height: 36px\9;
	font-size: 14px
}

.btn-disable,
.btn-disable:hover {
	background-color: #e3e3e3;
	color: #999;
	cursor: not-allowed
}

.org-text {
	font-size: 14px;
	color: #f60
}

.form .form-item {
	height: 30px;
	margin-top: 15px
}

.form .form-label {
	float: left;
	width: 65px;
	height: 12px;
	font-size: 12px;
	padding: 9px 0;
	margin-right: 10px;
	overflow: hidden
}

.form .form-item b {
	color: #f60;
	font-family: SimSun;
	font-weight: 400;
	margin-right: 10px
}

.form .form-control {
	float: left;
	height: 30px;
	line-height: 30px
}

.form .form-input {
	width: 208px;
	padding: 6px 10px;
	*height: 14px;
	*line-height: 14px;
	*padding: 7px 10px 5px;
	border: 1px solid #ccc;
	outline: 0;
	font-size: 12px;
	font-family: "Microsoft Yahei";
	color: #333;
	*vertical-align: middle
}

.form .form-control select {
	padding: 4px 10px;
	margin: 0;
	border: 1px solid #ccc;
	outline: 0;
	font-family: "Microsoft Yahei";
	color: #333
}

.form .form-text {
	margin: 0 5px
}

.form .msgTip {
	display: inline!important;
	margin-left: 10px;
	color: #f60;
	font-style: normal
}

.one-dialog {
	width: 520px;
	padding: 5px;
	background: url(../images/layer-bg_fdd2df0.png) repeat
}

.one-dialog .hd {
	height: 30px;
	line-height: 30px;
	background: #f60
}

.one-dialog .hd .title {
	padding-left: 15px;
	font-family: 'Microsoft YaHei';
	color: #fff;
	font-size: 14px
}

.one-dialog .hd .close {
	float: right;
	width: 11px;
	height: 11px;
	margin: 10px 10px 0 0;
	cursor: pointer;
	display: inline-block;
	background-repeat: no-repeat;
}

.one-dialog .bd {
	background: #fff
}

.one-dialog .content {
	padding: 15px
}

.one-dialog .content .wallet-tip {
	font-size: 14px;
	line-height: 22px;
	padding: 0 10px 10px
}

.one-dialog .content .wallet-tip .tip {
	display: inline-block;
	padding-left: 5px;
	width: 255px
}

.one-dialog .content .wallet-tip a {
	color: #ff7800;
	text-decoration: underline
}

.one-dialog .content .info-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-top: 3px;
	vertical-align: top;
	background-repeat: no-repeat;
}

.one-dialog .bd .btn-wrap {
	padding: 0 0 20px;
	margin: 0 auto;
	text-align: center
}

.one-dialog .bd .btn-wrap .cancel {
	margin-left: 10px
}

.center .info {
	height: 114px;
	margin-bottom: 15px
}

.center .info .user-info {
	float: left
}

.center .info .user-info .avatar {
	float: left;
	width: 110px;
	height: 114px;
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
}

.center .info .user-info .upload-avatar {
	position: absolute;
	width: 110px;
	height: 25px;
	padding-top: 5px;
	text-align: center;
	color: #fff;
	top: 114px;
	text-decoration: none;
	z-index: 9;
	background: rgba(0, 0, 0, .4);
	filter: progid: DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000, endcolorstr=#7F000000);
	transition: all .5s ease;
	-webkit-transition: all .5s ease
}

.center .info .user-info .upload-avatar:hover {
	text-decoration: none
}

.center .info .user-info .avatar-mask {
	position: absolute;
	width: 110px;
	height: 114px;
	z-index: 10
}

.center .info .user-info .upload-avatar-show {
	top: 80px;
	left: 0;
	transition: all .5s ease;
	-webkit-transition: all .5s ease
}

.center .info .user-info .rank {
	float: left;
	width: 80px;
	height: 96px;
	padding: 18px 30px 0 0;
	color: #fff;
	font-size: 14px;
	text-align: center
}

.center .info .user-info .rank span {
	display: block;
	*display: inline;
	*zoom: 1;
	margin-top: 4px
}

.center .info .user-info .rank a {
	color: #fff;
	text-decoration: underline
}

.center .info .user-info .rank .score {
	display: inline-block;
	margin: 0
}

.center .info .user-info .current-rank {
	font-size: 18px
}

.center .info .user-info .no-name {
	padding-top: 30px;
	height: 84px
}

.center .info .achieve-info {
	float: left;
	width: 780px;
	height: 100px;
	margin: 7px 0;
	background-color: #fff;
	font-size: 16px
}

.center .info .achieve-info .detail {
	display: inline-block;
	margin: 18px 0 0 5px;
	width: 260px;
	overflow: hidden;
	vertical-align: top
}

.center .info .achieve-info .save {
	float: left;
	width: 390px;
	height: 56px;
	margin-top: 22px
}

.center .info .achieve-info .save .icon {
	display: inline-block;
	width: 55px;
	height: 47px;
	margin: 0 0 0 60px;
	background-repeat: no-repeat;
}

.center .info .achieve-info .exceed {
	float: left;
	height: 56px;
	margin-top: 22px;
	border-left: 1px dotted #999
}

.center .info .achieve-info .exceed .icon {
	display: inline-block;
	width: 31px;
	height: 34px;
	margin: 5px 0 0 60px;
	padding: 12px 8px 0;
	font-size: 18px;
	text-align: right;
	color: #f60;
	background-repeat: no-repeat;
}

.center .info .achieve-info .icon b {
	font-size: 12px;
	vertical-align: top
}

.center .records-container {
	margin-top: 10px;
	position: relative
}

.center .records-container .records-list {
	margin-left: 57px
}

.center .records-container .records,
.center .records-container .no-records {
	margin: 1px 0 0 40px;
	background-color: #fff
}

.center .records-container .no-records {
	font-size: 16px;
	text-align: center
}

.center .records-container .no-records .recommend .small-org-btn {
	padding: 0 10px;
	font-size: 16px
}

.center .records-container .no-records .count {
	padding: 0 5px;
	font-size: 18px;
	color: #f60;
	text-align: center
}

.center .records-container .goods-img {
	float: left;
	margin: 10px;
	width: 240px;
	height: 160px
}

.center .records-container .goods-img img {
	width: 240px;
	height: 160px
}

.center .records-container .goods {
	float: left;
	margin: 30px 0 0 10px
}

.center .records-container .goods-name {
	font-size: 14px;
	font-weight: 700;
	width: 370px
}

.center .records-container .goods-name .short_title {
	margin-right: 20px
}

.center .records-container .unit-price {
	display: inline-block
}

.center .records-container .goods-info {
	margin-top: 10px;
	color: #666
}

.center .records-container .goods-info .entity-item,
.center .records-container .goods-info .entity-title {
	overflow: visible;
	word-break: break-all
}

.center .records-container .info-title {
	display: inline-block;
	width: 51px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	vertical-align: bottom;
	color: #666
}

.center .records-container .order-num {
	letter-spacing: 5px
}

.center .records-container .virtual-title {
	width: auto;
	padding: 0 5px
}

.center .records-container .virtual-site {
	color: #438ee2
}

.center .records-container .info-detail {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	vertical-align: middle
}

.center .records-container .info-content {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding-top: 1px;
	padding-left: 5px;
	font-size: 14px;
	vertical-align: bottom;
	color: #000
}

.center .records-container .order-info {
	float: right;
	width: 255px;
	height: 180px;
	background-color: #fafafa;
	display: table;
	position: relative
}

.center .records-container .order-info .container {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	*display: block;
	*margin: 51px 0 0
}

.center .records-container .order-info-scroll {
	overflow-y: auto;
	display: block
}

.center .records-container .order-info-scroll .container {
	display: block;
	margin: 0
}

.center .records-container .order-info-scroll ul {
	vertical-align: middle;
	padding: 27px 0 27px 15px;
	text-align: left
}

.center .records-container .order-info-scroll .info-content {
	height: auto;
	word-break: break-all
}

.center .records-container .order-state .tips {
	position: absolute;
	top: 153px;
	left: 20px;
	color: #999;
	text-align: center
}

.center .records-container .order-logistics {
	margin: 10px 0 0
}

.center .records-container .state {
	display: block;
	font-size: 14px;
	color: #333
}

.center .records-container .operate {
	margin: 6px 0 20px;
	display: block
}

.center .records-container .logistics-title {
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	vertical-align: middle;
	color: #666
}

.center .records-container .logistics-info {
	display: inline-block;
	font-size: 14px;
	color: #333;
	vertical-align: middle
}

.center .records-container .lv-icon {
	display: inline-block;
	width: 34px;
	height: 44px;
	position: absolute
}

.center .records-container .records-arrow {
	display: inline-block;
	width: 11px;
	height: 11px;
	position: absolute;
	left: 89px;
	top: 0;
	_left: -10px;
	background-repeat: no-repeat;
}

.center .records-container .dot {
	display: inline-block;
	width: 7px;
	height: 12px;
	position: absolute;
	left: 54px;
	bottom: -3px;
	_left: -44px;
	_bottom: 120px
}

.center .records-container .goods-info ul {
	width: 370px
}

.center .records-container .goods-info li {
	height: 20px;
	line-height: 20px;
	overflow: hidden
}

.center .records-container .goods-info li span {
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	vertical-align: middle
}

.center .records-container .order-info li {
	line-height: 22px
}

.center .level2 .avatar-mask {
	background-repeat: no-repeat;
}

.center .level2 .rank {
	background-repeat: no-repeat;
}

.center .level2 .rank a {
	color: #fff;
	text-decoration: underline
}

.center .level2 .lv-icon {
	left: 41px;
	top: -10px;
	background-repeat: no-repeat;
}

.center .level2 .records-list {
	border-left: 1px solid #f60
}

.center .level2 .dot {
	background-repeat: no-repeat;
}

.center .level2 .no-records {
	height: 178px;
	line-height: 178px
}

.center .level2 .no-records .recommend {
	_padding-top: 75px
}

.center .level2 .lv2-only {
	height: 380px;
	line-height: 380px
}

.center .level2 .lv2-only .recommend {
	_padding-top: 180px
}

.center .level1 .avatar-mask {
	background-repeat: no-repeat;
}

.center .level1 .rank {
	background-repeat: no-repeat;
}

.center .level1 .lv-icon {
	left: 41px;
	top: -18px;
	_left: -57px;
	background-repeat: no-repeat;
}

.center .level1 .records-list {
	border-left: 1px solid #ffc000
}

.center .level1 .dot {
	background-repeat: no-repeat;
}

.center .level1 .no-records {
	height: 380px;
	line-height: 380px
}

.center .level1 .no-records .recommend {
	_padding-top: 180px
}

.center .get-more {
	float: right;
	width: 901px;
	height: 14px;
	line-height: 14px;
	margin-top: 10px;
	padding: 13px 0;
	border: 1px solid #e4dfd5;
	background-color: #fff;
	font-size: 14px;
	text-align: center;
	color: #438ee2
}

.center .get-more:hover {
	text-decoration: none;
	background-color: #f7f7f7
}

.center .get-more i {
	display: inline-block;
	width: 9px;
	height: 14px;
	margin-left: 10px;
	vertical-align: top;
	background-repeat: no-repeat;
}

.center .get-more:hover i {
	background-repeat: no-repeat;
}

.center .loading {
	float: right;
	width: 901px;
	height: 40px;
	border: 1px solid #e4dfd5;
	margin-top: 10px;
	background: url(../images/loading-small_eb0d435.gif) center center no-repeat;
	background-color: #fff
}

.layer-drawback-info {
	font-size: 14px;
	margin: 0 auto
}

.layer-drawback-info .left {
	width: 95px;
	height: 30px;
	font-weight: 700;
	text-align: right
}

.layer-drawback-info .right {
	padding-left: 20px;
	width: 170px;
	height: 30px
}

.error-wrap {
	background-color: #9ed5e4
}

.error-wrap .error {
	padding: 61px 0 80px
}

.error-wrap .error .wrap {
	margin: 0 auto
}

.error-wrap .error .screen {
	width: 500px;
	height: 310px;
	position: relative;
	margin: 0 auto
}

.error-wrap .error .screen .error-bg1,
.error .screen .error-bg2 {
	position: absolute
}

.error-wrap .error .screen .error-bg1 {
	width: 314px;
	height: 359px;
	left: 93px;
	top: -83px;
	background-repeat: no-repeat;
}

.error-wrap .error .screen .error-bg2 {
	width: 325px;
	height: 293px;
	left: 67px;
	top: 0;
	background-repeat: no-repeat;
}

.error-wrap .error .error-msg {
	font-size: 26px;
	color: #fff;
	text-align: center;
	margin: 20px 0 40px
}

.error-wrap .error .portal {
	text-align: center
}

.error-wrap .error .back-to-home {
	font-size: 16px;
	padding: 5px 40px
}

.error-wrap .error .middle-btn {
	font-size: 16px
}

.index .product {
	position: relative
}

.index .product .product-inner {
	margin: 0 auto;
	height: 100%
}

.index .nav {
	position: fixed;
	width: 18px;
	right: 50px;
	top: 50%;
	margin-top: -75px;
	text-align: center;
	z-index: 500;
	opacity: 0;
	filter: alpha(opacity=0)
}

.index .nav li {
	height: 26px
}

.index .nav a {
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	margin-top: 10px
}

.index .nav i {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #b7b7b7;
	cursor: pointer;
	transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out
}

.index .nav .anchor-hover i {
	background-color: #ffa14e;
	width: 14px;
	height: 14px
}

.index .product .start {
	height: 1000px;
	background-color: #f14849;
	z-index: 10
}

.index .product .start .light-wrap {
	width: 100%;
	height: 665px;
	margin: 0 auto;
	position: relative;
	display: none
}

.index .product .start .light1 {
	width: 100%;
	height: 660px;
	position: absolute;
	z-index: 11;
	background: url(../images/light-aio_2296245.png) center 0 no-repeat
}

.index .product .start .light2 {
	width: 100%;
	height: 660px;
	position: absolute;
	z-index: 12;
	background: url(../images/light-aio_2296245.png) center -666px no-repeat
}

.index .product .start .light3 {
	width: 100%;
	height: 660px;
	position: absolute;
	z-index: 13;
	background: url(../images/light-aio_2296245.png) center -1334px no-repeat
}

@-webkit-keyframes flipInY {
	0% {
		-webkit-transform: perspective(600px) rotateY(90deg)
	}
	40% {
		-webkit-transform: perspective(600px) rotateY(-10deg)
	}
	70% {
		-webkit-transform: perspective(600px) rotateY(10deg)
	}
	100% {
		-webkit-transform: perspective(600px) rotateY(0deg)
	}
}

@keyframes flipInY {
	0% {
		transform: perspective(600px) rotateY(90deg)
	}
	40% {
		transform: perspective(600px) rotateY(-10deg)
	}
	70% {
		transform: perspective(600px) rotateY(10deg)
	}
	100% {
		transform: perspective(600px) rotateY(0deg)
	}
}

.index .flipInY {
	-webkit-backface-visibility: visible!important;
	-webkit-animation-name: flipInY;
	backface-visibility: visible!important;
	animation-name: flipInY
}

@-webkit-keyframes flipOutY {
	0% {
		-webkit-transform: perspective(600px) rotateY(-90deg)
	}
	40% {
		-webkit-transform: perspective(600px) rotateY(10deg)
	}
	70% {
		-webkit-transform: perspective(600px) rotateY(-10deg)
	}
	100% {
		-webkit-transform: perspective(600px) rotateY(0deg)
	}
}

@keyframes flipOutY {
	0% {
		transform: perspective(600px) rotateY(-90deg)
	}
	40% {
		transform: perspective(600px) rotateY(10deg)
	}
	70% {
		transform: perspective(600px) rotateY(-10deg)
	}
	100% {
		transform: perspective(600px) rotateY(0deg)
	}
}

.index .product .start .hidden {
	opacity: 0;
	filter: alpha(opacity=0)
}

.index .flipOutY {
	-webkit-backface-visibility: visible!important;
	-webkit-animation-name: flipOutY;
	backface-visibility: visible!important;
	animation-name: flipOutY
}

.index .product .start .light-focus {
	width: 300px;
	height: 300px;
	position: absolute;
	border-radius: 50%;
	left: 50%;
	top: 362px;
	margin-left: -150px;
	z-index: 14
}

.index .product .start .light-focus .goods-num {
	display: none;
	margin: 46px 0 0 120px;
	width: 62px;
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	color: #f0320c
}

.index .product .start .light-focus-inner {
	width: 300px;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	background: url(../images/light-aio_2296245.png) 0 -1995px no-repeat;
	-webkit-animation-duration: 1s;
	animation-duration: 1s
}

.index .product .start .light-focus-hover {
	background: url(../images/light-aio_2296245.png) -305px -1995px no-repeat
}

.index .product .start .light-focus-hover .goods-num {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.index .product .start .announcement-wrap {
	width: 1000px;
	height: 34px;
	margin: 0 auto;
	overflow: hidden;
	display: none
}

.index .product .start .announcement {
	height: 14px;
	margin-top: 20px;
	color: #ffc9c9;
	text-align: center
}

.index .product .start .announcement em {
	margin-right: 10px;
	color: #ffde45;
	font-style: normal;
	font-weight: 700;
	vertical-align: top
}

.index .product .start .announcement a {
	color: #ffc9c9;
	text-decoration: underline
}

.index .product .start .announcement-container {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 200px;
	height: 14px;
	line-height: 14px;
	overflow: hidden
}

.index .product .start .announcement-text {
	width: 9999px;
	height: 14px
}

.index .product .start .announcement-text .text {
	float: left;
	height: 14px
}

.index .product .start .user-info-wrap {
	width: 1000px;
	height: 250px;
	margin: 0 auto;
	overflow: hidden;
	display: none
}

.index .product .start .user-info-wrap .mouse {
	width: 48px;
	height: 72px;
	margin: 100px auto 0;
	background: url(../images/mouse_6f938ef.gif) no-repeat
}

.index .product .start .user-info-wrap .mouse-text {
	width: 100px;
	margin: 10px auto;
	font-size: 14px;
	color: #fff;
	text-align: center
}

.index .product .start .user-info {
	width: 80px;
	margin: 100px auto 0;
	text-align: center
}

.index .product .start .avatar {
	display: block;
	width: 80px;
	height: 80px;
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
}

.index .product .start .upload-avatar {
	position: absolute;
	width: 80px;
	height: 25px;
	padding-top: 3px;
	text-align: center;
	color: #fff;
	top: 80px;
	left: 0;
	text-decoration: none;
	background-color: #000;
	background-color: rgba(0, 0, 0, .4);
	filter: alpha(opacity=40);
	transition: all .5s ease;
	-webkit-transition: all .5s ease
}

.index .product .start .upload-avatar:hover {
	text-decoration: none
}

.index .product .start .upload-avatar-show {
	top: 53px;
	transition: all .5s ease;
	-webkit-transition: all .5s ease
}

.index .product .start .avatar .avatar-mask {
	width: 80px;
	height: 80px;
	position: absolute;
	z-index: 15;
	left: 0;
	top: 0;
	cursor: pointer;
	background-repeat: no-repeat;
}

.index .product .start .user-info .start-login {
	display: inline-block;
	margin-top: 10px;
	color: #fff;
	text-decoration: underline;
	overflow: hidden
}

.index .product .start .user-info .user-name {
	color: #fff;
	margin-top: 10px
}

.index .product .start .user-info .level-info {
	color: #fff;
	margin-top: 5px
}

.index .product .start,
.index .product .start,
.index .product .product-item,
.index .product .other {
	position: fixed;
	width: 100%;
	overflow: hidden
}

.index .product .product-item {
	height: 0;
	background-color: #fdffbe
}

.index .product .product-item .lazy-mod {
	display: none
}

.index .product .product1 {
	height: 0;
	background-color: #fdffbe;
	z-index: 20
}

.index .product .product2 {
	height: 0;
	background-color: #99fff9;
	z-index: 30
}

.index .product .product3 {
	height: 0;
	background-color: #6efd9d;
	z-index: 40
}

.index .product .product4 {
	height: 0;
	background-color: #4de4d0;
	z-index: 50
}

.index .product .product-detail {
	position: relative;
	width: 1000px;
	height: 680px;
	margin: 0 auto;
	overflow: hidden
}

.index .product .bg-cover1,
.index .product .bg-cover2 {
	position: absolute
}

.index .product .product-img,
.index .product .bg,
.index .product .detail-wrap {
	position: absolute;
	width: 1000px;
	height: 680px;
	left: 50%;
	right: 50%;
	bottom: 50%;
	top: 50%;
	margin: -340px -500px
}

.index .product .product-img img {
	width: 420px;
	height: 420px;
	margin: 130px 0 0 80px
}

.index .product .detail-wrap .detail {
	float: right;
	width: 420px;
	margin-top: 25%
}

.index .product .detail-wrap .detail li {
	margin: 8px 0 0 5px
}

.index .product .detail-wrap .detail .sign {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 110px;
	height: 28px
}

.index .product .detail-wrap .detail .goods-name {
	font-size: 26px;
	font-weight: 700
}

.index .product .detail-wrap .detail .intro {
	font-size: 14px
}

.index .product .detail-wrap .detail .price {
	font-size: 24px;
	font-weight: 700
}

.index .product .detail-wrap .detail .price em {
	display: inline-block;
	height: 36px;
	font-size: 36px;
	line-height: 36px;
	font-style: normal;
	font-weight: 700;
	vertical-align: bottom;
	*vertical-align: top;
	*margin-top: -10px
}

.index .product .detail-wrap .detail .price .unit {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 18px;
	vertical-align: top;
	padding-top: 12px;
	*padding-top: 6px
}

.index .round-btn {
	background-color: none;
	width: 146px;
	height: 44px;
	padding-left: 3px;
	line-height: 44px;
	font-size: 20px;
	text-align: center;
	transition: none;
	-webkit-transition: none
}

.index .product .detail-wrap .detail .operate {
	margin-left: 0
}

.index .product .detail-wrap .detail .count-down {
	display: inline-block;
	font-size: 16px
}

.index .product .product1 .product-inner .bg {
	z-index: 21;
	background: url(../images/product1-bg_efbf403.png) no-repeat
}

.index .product .product1 .product-img {
	z-index: 22
}

.index .product .product1 .product-inner .bg-cover1 {
	z-index: 23;
	width: 230px;
	height: 207px;
	top: -20px;
	right: 15%;
	background: url(../images/product1-bg-cover1_749fc17.png) no-repeat
}

.index .product .product1 .product-inner .bg-cover2 {
	z-index: 23;
	width: 213px;
	height: 93px;
	bottom: 5%;
	left: 15%;
	background: url(../images/product1-bg-cover2_62a6915.png) no-repeat
}

.index .product .product1 .detail-wrap {
	z-index: 24
}

.index .product .product1 .product-inner .detail-wrap .detail .type1 {
	background-repeat: no-repeat;
}

.index .product .product1 .product-inner .detail-wrap .detail .type2 {
	background-repeat: no-repeat;
}

.index .product .product1 .goods-name,
.index .product .product1 .intro,
.index .product .product1 .price,
.index .product .product1 .count-down {
	color: #fd3e5d
}

.index .product .product1 .product-inner .round-btn {
	background-repeat: no-repeat;
}

.index .product .product1 .product-inner .round-btn:hover {
	background-repeat: no-repeat;
}

.index .product .product2 .product-inner .bg {
	z-index: 31;
	background: url(../images/product2-bg_56536f8.png) no-repeat
}

.index .product .product2 .product-img {
	z-index: 32
}

.index .product .product2 .product-inner .bg-cover1 {
	z-index: 33;
	width: 138px;
	height: 145px;
	top: 3%;
	right: 20%;
	background: url(../images/product2-bg-cover1_2df2d3d.png) no-repeat
}

.index .product .product2 .product-inner .bg-cover2 {
	z-index: 33;
	width: 271px;
	height: 221px;
	bottom: 1%;
	right: 30%;
	background: url(../images/product2-bg-cover2_a9228b1.png) no-repeat
}

.index .product .product2 .detail-wrap {
	z-index: 34
}

.index .product .product2 .product-inner .detail-wrap .detail .type1 {
	background-repeat: no-repeat;
}

.index .product .product2 .product-inner .detail-wrap .detail .type2 {
	background-repeat: no-repeat;
}

.index .product .product2 .goods-name,
.index .product .product2 .intro,
.index .product .product2 .price,
.index .product .product2 .count-down {
	color: #ff6450
}

.index .product .product2 .product-inner .round-btn {
	background-repeat: no-repeat;
}

.index .product .product2 .product-inner .round-btn:hover {
	background-repeat: no-repeat;
}

.index .product .product3 .product-inner .bg {
	z-index: 41;
	background: url(../images/product3-bg_fb4c334.png) no-repeat
}

.index .product .product3 .product-img {
	z-index: 42
}

.index .product .product3 .product-inner .bg-cover1 {
	z-index: 43;
	width: 282px;
	height: 187px;
	top: 0;
	right: 10%;
	background: url(../images/product3-bg-cover1_26f5bd3.png) no-repeat
}

.index .product .product3 .product-inner .bg-cover2 {
	z-index: 43;
	width: 152px;
	height: 124px;
	bottom: 3%;
	right: 32%;
	background: url(../images/product3-bg-cover2_881a4c1.png) no-repeat
}

.index .product .product3 .detail-wrap {
	z-index: 44
}

.index .product .product3 .product-inner .detail-wrap .detail .type1 {
	background-repeat: no-repeat;
}

.index .product .product3 .product-inner .detail-wrap .detail .type2 {
	background-repeat: no-repeat;
}

.index .product .product3 .goods-name,
.index .product .product3 .intro,
.index .product .product3 .price,
.index .product .product3 .count-down {
	color: #035be0
}

.index .product .product3 .product-inner .round-btn {
	background-repeat: no-repeat;
}

.index .product .product3 .product-inner .round-btn:hover {
	background-repeat: no-repeat;
}

.index .product .product4 .product-inner .bg {
	z-index: 51;
	background: url(../images/product4-bg_edc8936.png) no-repeat
}

.index .product .product4 .product-img {
	z-index: 52
}

.index .product .product4 .product-inner .bg-cover1 {
	z-index: 53;
	width: 268px;
	height: 197px;
	top: 0;
	right: 22%;
	background: url(../images/product4-bg-cover1_bef91b7.png) no-repeat
}

.index .product .product4 .product-inner .bg-cover2 {
	z-index: 53;
	width: 159px;
	height: 132px;
	bottom: 5%;
	right: 20%;
	background: url(../images/product4-bg-cover2_dc801bb.png) no-repeat
}

.index .product .product4 .detail-wrap {
	z-index: 54
}

.index .product .product4 .product-inner .detail-wrap .detail .type1 {
	background-repeat: no-repeat;
}

.index .product .product4 .product-inner .detail-wrap .detail .type2 {
	background-repeat: no-repeat;
}

.index .product .product4 .goods-name,
.index .product .product4 .intro,
.index .product .product4 .price,
.index .product .product4 .count-down {
	color: #642be7
}

.index .product .product4 .product-inner .round-btn {
	background-repeat: no-repeat;
}

.index .product .product4 .product-inner .round-btn:hover {
	background-repeat: no-repeat;
}

.index .product .other {
	height: 0;
	z-index: 60;
	background-color: #fff
}

.index .links {
	position: absolute;
	z-index: 61;
	width: 100%;
	height: 105px;
	background-color: #fff;
	text-align: center;
	padding: 50px 0
}

.index .links ul {
	width: 1000px;
	margin: 0 auto
}

.index .links li {
	float: left;
	width: 242px;
	margin-right: 10px
}

.index .links .last {
	margin-right: 0
}

.index .footer {
	position: absolute;
	z-index: 62;
	width: 100%
}

.order {
	background-color: #fff;
	color: #333
}

.order .func-title {
	height: 70px;
	padding: 30px 30px 0 60px;
	background-color: #f6f6f6
}

.order .func-title h1 {
	float: left;
	font-size: 22px;
	font-weight: 700;
	color: #333;
	margin-top: 5px
}

.order .flowstep {
	float: right;
	color: #999
}

.order .flowstep .step {
	float: left;
	width: 140px;
	text-align: center
}

.order .flowstep .active {
	color: #f60
}

.order .flowstep .num {
	width: 140px;
	height: 30px;
	display: inline-block
}

.order .flowstep .entity1,
.order .flowstep .virtual1 {
	background-repeat: no-repeat;
}

.order .flowstep .entity2,
.order .flowstep .virtual2 {
	background-repeat: no-repeat;
}

.order .flowstep .entity3 {
	background-repeat: no-repeat;
}

.order .flowstep .entity4 {
	background-repeat: no-repeat;
}

.order .flowstep .virtual3 {
	background-repeat: no-repeat;
}

.order .func-content {
	padding: 30px 60px
}

.order .func-content .goods-sheet {
	width: 100%;
	margin-top: 15px
}

.order .func-content .goods-sheet th {
	height: 30px;
	background-color: #f6f6f6;
	color: #999;
	text-align: center
}

.order .func-content .goods-sheet .pic {
	width: 100px
}

.order .func-content .goods-sheet .name {
	text-align: left
}

.order .func-content .goods-sheet .unit-price {
	width: 100px
}

.order .func-content .goods-sheet .account {
	width: 50px
}

.order .func-content .goods-sheet .delivery-mode {
	width: 135px
}

.order .func-content .goods-sheet .total {
	width: 140px
}

.order .func-content .goods-sheet .bzf-score {
	width: 70px
}

.order .func-content .goods-sheet td {
	padding: 10px 0 20px;
	border-bottom: 1px solid #f0ede7;
	font-size: 14px;
	font-weight: 700;
	color: #333;
	text-align: center
}

.order .func-content .goods-list:hover {
	background-color: #fbfbfb
}

.order .func-content h2 {
	font-size: 16px;
	font-weight: 700
}

.order .func-content .goods-sheet a {
	color: #333
}

.order .func-content .goods-sheet .t-left {
	text-align: left
}

.order .func-content .goods-sheet .goods-img {
	float: left;
	width: 80px;
	height: 53px;
	margin-left: 10px
}

.order .func-content .goods-sheet .goods-img img {
	width: 80px;
	height: 53px
}

.order .address {
	padding: 30px 0;
	border-bottom: 1px solid #f0ede7
}

.order .address .change-address,
.order .address .cancel-change {
	font-size: 12px;
	margin-left: 10px;
	color: #438ee2
}

.order .address .address-info {
	margin-top: 10px;
	font-size: 14px
}

.order .address-form {
	margin-top: 10px
}

.order .address .contact-form .tip {
	*display: inline;
	*zoom: 1;
	color: #666;
	margin-left: 10px;
	*vertical-align: top
}

.order .address .contact-form .bottomTip {
	display: block
}

.order .pay-wrap {
	padding-top: 30px
}

.order .pay-wrap .pay {
	float: right;
	font-size: 16px;
	font-weight: 700
}

.order .pay-wrap .pay .payment {
	margin-right: 20px;
	vertical-align: middle;
	font-size: 16px
}

.order .pay-wrap .payment .score {
	font-size: 12px
}

.pay_result {
	padding: 70px 60px 30px;
	background-color: #fff;
	color: #333
}

.pay_result .wrap {
	margin: 0 auto;
	border-bottom: 1px solid #f0ede7
}

.pay_result .success {
	width: 420px;
	margin: 0 auto
}

.pay_result .success .pay-tip {
	height: 26px;
	line-height: 26px;
	font-size: 18px;
	font-weight: 700
}

.pay_result .success .pay-tip .success-icon {
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../images/pay-success-icon_5d7e2fd.png) no-repeat;
	vertical-align: top;
	margin-right: 15px
}

.pay_result .success .goods-info {
	width: 430px;
	margin: 30px 0;
	padding-left: 40px
}

.pay_result .success .goods-info dl {
	float: left;
	margin: 5px 0 0 10px
}

.pay_result .success .goods-info dt {
	font-size: 14px;
	font-weight: 700
}

.pay_result .success .goods-info dd {
	margin-top: 10px
}

.pay_result .success .goods-info dd li {
	height: 20px
}

.pay_result .success .goods-img {
	float: left;
	width: 80px;
	height: 53px
}

.pay_result .success .goods-img img {
	width: 80px;
	height: 53px
}

.pay_result .success .goods-name {
	color: #333;
	display: inline-block;
	overflow: hidden;
	width: 180px;
	word-break: break-all
}

.pay_result .success .goods-price {
	margin-left: 10px;
	color: #f60;
	vertical-align: top
}

.pay_result .success .portal-link {
	margin-left: 10px;
	color: #438ee2
}

.pay_result .share-wrap {
	width: 410px;
	margin: 30px auto 0
}

.pay_result .share-wrap .share-tip {
	margin: 0 10px 0 40px;
	font-size: 14px;
	font-weight: 700
}

.pay_result .fail {
	width: 350px;
	margin: 0 auto
}

.pay_result .fail .pay-tip {
	height: 26px;
	line-height: 26px;
	font-size: 18px;
	font-weight: 700
}

.pay_result .fail .pay-tip .fail-icon {
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../images/pay-fail-icon_674ffaf.png) no-repeat;
	vertical-align: top;
	margin-right: 15px
}

.pay_result .fail .fail-reason {
	width: 310px;
	margin: 10px 0 30px;
	padding-left: 40px;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px
}

.pay_result .portal-wrap {
	width: 350px;
	margin: 30px auto 0
}

.pay_result .portal-wrap .portal {
	padding-left: 40px
}

.pay_result .portal-wrap .portal-link {
	margin-right: 10px;
	color: #438ee2
}

#doc {
	background-color: #fff
}

.product-details {
	padding-top: 61px
}

.product-details .banner-container {
	background: url(../images/light-bg_8788f2a.png) no-repeat center center;
	_background: 0 0
}

.product-details .first-product {
	background-color: #fdffbe
}

.product-details .second-product {
	background-color: #99fff9
}

.product-details .third-product {
	background-color: #6efd9d
}

.product-details .fouth-product {
	background-color: #4de4d0
}

.product-details .banner {
	height: 480px;
	width: 1000px;
	margin: 0 auto;
	position: relative
}

.product-details .banner .product-img {
	height: 460px;
	background-color: #f8f8f8;
	position: absolute;
	top: 10px;
	overflow: hidden;
	-webkit-transition: all .4s ease-out;
	transition: all .4s ease-out
}

.product-details .banner .left-part {
	left: 0;
	width: 145px
}

.product-details .banner .middle-part {
	left: 155px;
	width: 145px
}

.product-details .banner .right-part {
	right: 0;
	width: 145px
}

.product-details .show-left .middle-part {
	left: 700px
}

.product-details .show-left .left-part,
.product-details .show-middle .middle-part,
.product-details .show-right .right-part {
	width: 690px
}

.product-details .show-left .left-part img,
.product-details .show-middle .middle-part img,
.product-details .show-right .right-part img {
	margin-left: -345px
}

.product-details .banner img {
	width: 690px;
	height: 460px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -250px;
	-webkit-transition: all .4s ease-out;
	transition: all .4s ease-out
}

.product-details .price-wrap {
	height: 90px;
	width: 100%;
	background-color: #f7f7f7;
	border-bottom: 1px solid #e8e8e8
}

.product-details .slide-down {
	position: fixed;
	top: 0;
	_position: absolute;
	_top: inherit;
	z-index: 101;
	box-shadow: 0 0 6px rgba(0, 0, 0, .2)
}

.product-details .price-details {
	margin: 0 auto;
	position: relative
}

.product-details .price-details .goods-name {
	float: left;
	line-height: 90px;
	font-size: 18px;
	font-weight: 700;
	color: #333
}

.product-details .price-details .feature-tip {
	text-indent: -10px
}

.product-details .price-details .limite {
	position: absolute;
	font-size: 12px;
	color: #f60;
	font-weight: 400;
	line-height: 14px;
	left: -5px;
	top: 62px
}

.product-details .price-details .price {
	float: right;
	margin-top: 28px;
	_margin-top: 13px
}

.product-details .price-details .price li {
	float: left
}

.product-details .price-details .counter {
	line-height: 18px;
	font-size: 14px;
	color: #333;
	_margin-top: 10px
}

.product-details .price-details .counter em {
	color: #999;
	font-style: normal;
	font-size: 16px;
	text-decoration: line-through
}

.product-details .price-details .preferential-price {
	margin: 0 25px 0 15px;
	font-size: 16px;
	font-weight: 700;
	height: 36px;
	line-height: 36px;
	color: #f60;
	display: inline-block;
	_margin-top: 10px
}

.product-details .price-details .preferential-price em {
	font-size: 36px;
	font-weight: 700;
	font-style: normal
}

.product-details .price-details .preferential-price em i {
	font-style: normal;
	font-size: 24px;
	height: 24px;
	line-height: 24px;
	font-weight: 400;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	padding-top: 9px;
	*padding-top: 14px
}

.product-details .price-details .preferential-price .feature-sign {
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	color: #333;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	padding-top: 19px
}

.product-details .price-details .preferential-price .unit {
	height: 18px;
	*width: 90px;
	line-height: 19px;
	font-size: 14px;
	border: 1px solid #ffa626;
	color: #ffa626;
	display: inline-block;
	vertical-align: top;
	margin-top: 14px;
	*margin-top: 18px;
	background-color: #fff;
	overflow: hidden
}

.product-details .price-details .preferential-price .unit i {
	float: right;
	font-style: normal;
	background-color: #ffa626;
	color: #fff;
	padding: 0 3px;
	font-weight: 400;
	line-height: 18px;
	padding-top: 2px\9
}

.product-details .price-details .preferential-price .get-bzf {
	font-size: 12px;
	margin-left: 5px;
	color: #666;
	font-weight: 400;
	text-decoration: underline
}

.product-details .price-details .price .btn-wrap {
	height: 60px;
	text-align: center;
	_margin-top: 0
}

.product-details .price-details .price .middle-btn {
	padding: 0 30px;
	font-size: 16px;
	line-height: 36px
}

.product-details .price-details .left-time {
	text-align: center;
	margin-top: 6px;
	color: #333
}

.product-details .lotteryinfo {
	margin: 80px auto 0
}

.product-details .lotteryinfo .lottery-title {
	font-size: 14px;
	text-align: center;
	font-weight: 700;
	color: #333
}

.product-details .lotteryinfo h1 {
	font-size: 26px;
	color: #333;
	text-align: center;
	margin-bottom: 30px
}

.product-details .lotteryinfo tr {
	height: 35px
}

.product-details .lotteryinfo td {
	border: 1px solid #e1e1e1
}

.product-details .lotteryinfo .title {
	width: 109px;
	background-color: #f7f7f7;
	font-weight: 700;
	color: #333;
	text-align: center
}

.product-details .lotteryinfo .content {
	padding-left: 10px;
	color: #666;
	width: 377px
}

.product-details .specifications {
	margin: 80px auto 0
}

.product-details .specifications h1 {
	font-size: 26px;
	color: #333;
	text-align: center;
	margin-bottom: 30px
}

.product-details .specifications tr {
	height: 35px
}

.product-details .specifications td {
	border: 1px solid #e1e1e1
}

.product-details .specifications .title {
	width: 109px;
	background-color: #f7f7f7;
	font-weight: 700;
	color: #333;
	text-align: center
}

.product-details .specifications .content {
	padding-left: 10px;
	color: #666;
	width: 212px
}

.product-details .details {
	margin: 80px auto 0;
	margin-bottom: 20px;
	text-align: center
}

.layer-check-order-info {
	font-size: 12px;
	margin: 0 auto
}

.layer-check-order-info td {
	border: 1px solid #e1e1e1
}

.layer-check-order-info .left {
	width: 95px;
	height: 30px;
	padding-right: 10px;
	background-color: #f7f7f7;
	font-weight: 700;
	text-align: right
}

.layer-check-order-info .right {
	padding: 0 20px;
	width: 170px;
	height: 30px;
	line-height: 20px;
	color: #666;
	word-break: break-all
}

.footer {
	height: 255px;
	background-color: #e9e9e9
}

.footer .help-wrap {
	height: 174px;
	background-color: #f3f3f3;
	border-bottom: 1px solid #dbdbdb
}

.footer .help {
	margin: 0 auto
}

.footer .help-wrap .category {
	float: left;
	width: 247px;
	height: 114px;
	margin: 30px 0;
	border-right: 1px solid #d6d6d6;
	color: #666
}

.footer .help-wrap .category a {
	color: #666
}

.footer .help-wrap .category ul {
	margin-left: 50px
}

.footer .help-wrap .category h2 {
	height: 30px;
	line-height: 30px
}

.footer .help-wrap .category .item {
	list-style: disc inside;
	margin: 8px 0 0 34px
}

.footer .help-wrap .category i {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	vertical-align: text-bottom
}

.footer .help-wrap .category h2 {
	font-size: 16px;
	font-weight: 700
}

.footer .help-wrap .category .guide i {
	background-repeat: no-repeat;
}

.footer .help-wrap .category .mode i {
	background-repeat: no-repeat;
}

.footer .help-wrap .category .safeguard i {
	background-repeat: no-repeat;
}

.footer .help-wrap .category .cooperate i {
	background-repeat: no-repeat;
}

.footer .help-wrap .last {
	border-right: 0
}

.footer .content {
	margin: 0 auto;
	padding-top: 25px;
	height: 55px;
	text-align: center;
	color: #a3a3a3
}

.footer .content ul {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.footer .content li {
	float: left
}

.footer .content a {
	color: #a3a3a3;
	text-decoration: none
}

.footer .content a:hover {
	text-decoration: underline
}

.header {
	width: 100%;
	background-color: #f6f6f6;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 0 6px rgba(0, 0, 0, .2);
	position: absolute;
	z-index: 9000
}

.header-fixed {
	position: fixed;
	z-index: 9000
}

.header .content {
	height: 60px;
	margin: 0 auto;
	font-size: 14px
}

.header .content .logo {
	float: left;
	width: 218px;
	height: 33px;
	margin-top: 14px
}

.header .content .logo-left {
	float: left;
	width: 129px;
	height: 33px;
	background-repeat: no-repeat;
}

.header .content .logo-right {
	float: right;
	width: 89px;
	height: 33px;
	background-repeat: no-repeat;
}

.header .content ul {
	float: right;
	margin-top: 22px
}

.header .content li {
	float: left;
	margin-left: 20px
}

.header .content .vertical-line {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 0 5px;
	color: #666;
	font-family: arial;
	font-size: 14px;
	line-height: 14px;
	vertical-align: top
}

.header-index {
	background: 0 0;
	border-bottom: 0;
	box-shadow: none
}

.header-index .content .logo .logo-left {
	background-repeat: no-repeat;
}

.header-index .content .logo .logo-right {
	background-repeat: no-repeat;
}

.header-index .content,
.header-index .content a {
	color: #fff
}

.header-index .content .vertical-line {
	color: #fff
}

.error-wrap .error .screen .error-bg1 {
	background-position: 0px 0px
}

.error-wrap .error .screen .error-bg2 {
	background-position: -324px 0px
}

.center .level2 .avatar-mask {
	background-position: 0px -369px
}

.center .level1 .avatar-mask {
	background-position: -120px -369px
}

.center .level1 .rank {
	background-position: -240px -369px
}

.center .level2 .rank {
	background-position: -360px -369px
}

.center .info .user-info .avatar {
	background-position: -480px -369px
}

.index .product .start .avatar {
	background-position: 0px -493px
}

.index .product .start .avatar .avatar-mask {
	background-position: -90px -493px
}

.center .info .achieve-info .save .icon {
	background-position: -324px -303px
}

.center .info .achieve-info .exceed .icon {
	background-position: -389px -303px
}

.center .level2 .lv-icon {
	background-position: -445px -303px
}

.index .product .product2 .product-inner .round-btn:hover {
	background-position: -489px -303px
}

.index .product .product4 .product-inner .round-btn:hover {
	background-position: -180px -493px
}

.index .product .product3 .product-inner .round-btn {
	background-position: -336px -493px
}

.index .product .product1 .product-inner .round-btn {
	background-position: -486px -493px
}

.index .product .product1 .product-inner .round-btn:hover {
	background-position: 0px -583px
}

.index .product .product3 .product-inner .round-btn:hover {
	background-position: -156px -583px
}

.index .product .product2 .product-inner .round-btn {
	background-position: -312px -583px
}

.index .product .product4 .product-inner .round-btn {
	background-position: -468px -583px
}

.center .level1 .lv-icon {
	background-position: -600px -369px
}

.header-index .content .logo .logo-left {
	background-position: -659px 0px
}

.header-index .content .logo .logo-right {
	background-position: -659px -43px
}

.header .content .logo-right {
	background-position: -659px -86px
}

.header .content .logo-left {
	background-position: 0px -637px
}

.order .flowstep .entity3 {
	background-position: -139px -637px
}

.order .flowstep .entity4 {
	background-position: -289px -637px
}

.order .flowstep .virtual3 {
	background-position: -440px -637px
}

.order .flowstep .entity1,
.order .flowstep .virtual1 {
	background-position: -591px -637px
}

.order .flowstep .entity2,
.order .flowstep .virtual2 {
	background-position: 0px -680px
}

.index .product .product1 .product-inner .detail-wrap .detail .type2 {
	background-position: -659px -129px
}

.index .product .product2 .product-inner .detail-wrap .detail .type2 {
	background-position: -659px -167px
}

.index .product .product4 .product-inner .detail-wrap .detail .type1 {
	background-position: -659px -205px
}

.index .product .product4 .product-inner .detail-wrap .detail .type2 {
	background-position: -659px -243px
}

.index .product .product2 .product-inner .detail-wrap .detail .type1 {
	background-position: -659px -281px
}

.index .product .product1 .product-inner .detail-wrap .detail .type1 {
	background-position: -659px -319px
}

.index .product .product3 .product-inner .detail-wrap .detail .type1 {
	background-position: -659px -357px
}

.index .product .product3 .product-inner .detail-wrap .detail .type2 {
	background-position: -659px -395px
}

.footer .help-wrap .category .safeguard i {
	background-position: -659px -433px
}

.footer .help-wrap .category .cooperate i {
	background-position: -693px -433px
}

.footer .help-wrap .category .guide i {
	background-position: -727px -433px
}

.footer .help-wrap .category .mode i {
	background-position: -659px -467px
}

.one-dialog .content .info-icon {
	background-position: -758px -43px
}

.center .get-more:hover i {
	background-position: -758px -86px
}

.center .get-more i {
	background-position: -761px -433px
}

.center .level1 .dot {
	background-position: -693px -467px
}

.center .level2 .dot {
	background-position: -710px -467px
}

.center .records-container .records-arrow {
	background-position: -727px -467px
}

.one-dialog .hd .close {
	background-position: -748px -467px
}

.error-wrap .error .screen .error-bg1,
.error-wrap .error .screen .error-bg2,
.center .level2 .avatar-mask,
.center .level1 .avatar-mask,
.center .level1 .rank,
.center .level2 .rank,
.center .info .user-info .avatar,
.index .product .start .avatar,
.index .product .start .avatar .avatar-mask,
.center .info .achieve-info .save .icon,
.center .info .achieve-info .exceed .icon,
.center .level2 .lv-icon,
.index .product .product2 .product-inner .round-btn:hover,
.index .product .product4 .product-inner .round-btn:hover,
.index .product .product3 .product-inner .round-btn,
.index .product .product1 .product-inner .round-btn,
.index .product .product1 .product-inner .round-btn:hover,
.index .product .product3 .product-inner .round-btn:hover,
.index .product .product2 .product-inner .round-btn,
.index .product .product4 .product-inner .round-btn,
.center .level1 .lv-icon,
.header-index .content .logo .logo-left,
.header-index .content .logo .logo-right,
.header .content .logo-right,
.header .content .logo-left,
.order .flowstep .entity3,
.order .flowstep .entity4,
.order .flowstep .virtual3,
.order .flowstep .entity1,
.order .flowstep .virtual1 {
	background-image: url(../images/aio_z_92e914b.png)
}

.order .flowstep .entity2,
.order .flowstep .virtual2,
.index .product .product1 .product-inner .detail-wrap .detail .type2,
.index .product .product2 .product-inner .detail-wrap .detail .type2,
.index .product .product4 .product-inner .detail-wrap .detail .type1,
.index .product .product4 .product-inner .detail-wrap .detail .type2,
.index .product .product2 .product-inner .detail-wrap .detail .type1,
.index .product .product1 .product-inner .detail-wrap .detail .type1,
.index .product .product3 .product-inner .detail-wrap .detail .type1,
.index .product .product3 .product-inner .detail-wrap .detail .type2,
.footer .help-wrap .category .safeguard i,
.footer .help-wrap .category .cooperate i,
.footer .help-wrap .category .guide i,
.footer .help-wrap .category .mode i,
.one-dialog .content .info-icon,
.center .get-more:hover i,
.center .get-more i,
.center .level1 .dot,
.center .level2 .dot,
.center .records-container .records-arrow,
.one-dialog .hd .close {
	background-image: url(../images/aio_z_92e914b.png)
}

.footer {
	width: 100%;
	height: 200px;
	border-top: 3px solid red;
	padding-top: 127px;
	background: #f8f8f8;
}

.footer ul {
	width: 1200px;
	height: auto;
	margin: 0 auto;
}

.footer ul li {
	width: 180px;
	float: left;
	font-size: 14px;
}

.footer ul li h3 {
	font-size: 18px;
	font-weight: bold;
}

.footer ul li div {
	margin-top: 15px;
	border-left: 1px solid #888;
}

.footer ul li div p {
	margin-left: 10px;
}

.footer ul li div p a:hover {
	color: #ff4401;
}

.footer ul li:nth-child(4) {
	width: 300px;
	height: auto;
	border-left: 1px solid #888;
}

.footer ul li:nth-child(4) span {
	width: 132px;
	height: auto;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.footer ul li:nth-child(5) {
	width: 357px;
	height: auto;
	text-align: center;
	color: red;
	font-size: 16px;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
}

.footer ul li:nth-child(5) p {
	margin-top: 15px;
}

.footer ul li:nth-child(5) p span {
	font-size: 22px;
	font-weight: bold;
}

.footer ul li:nth-child(5) p:last-child {
	width: 120px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	border: 1px solid red;
	margin-top: 20px;
	margin-bottom: 18px;
	cursor: pointer;
}

.footer ul li:nth-child(5) p:last-child:hover {
	background: #ff4401;
}

.footer ul li:nth-child(5) p:last-child:hover a {
	color: #FFF;
}

.footer_buttom {
	width: 100%;
	height: 110px;
	padding-top: 15px;
	background: #f8f8f8;
	border-top: 1px solid #888;
	text-align: center;
	font-size: 14px;
	margin-top: 330px;
}