@charset "utf-8";
/* CSS Document */
a,a:hover{
	text-decoration: none;
}

img{
	vertical-align: top;
}
.slider{
	height: 260px;
}
.company-zh-banner img{
	display: block;
	margin:0 auto;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	-o-transform:translate(-50%,0);
}

.company_top{
	background-color: #fff;
	color: #000;
	padding-top: 45px;
	padding-bottom: 0px;
}
.company_top_lt h1{
	margin-top: 5px;
}
.company_top_lt h1 a,.company_top_lt h2 span{
	color: #000;
}
.company_top_lt h2{
	margin-top: 15px;
}
.company_top_lt p{
	color: #000;
	margin-top: 15px;
	font-size: 16px;
}
.company_top .subwd>img{
	width: 130px;
	height: 130px;
}
.com_ico{
	background-color: #ff4401;
}
.company_top_rt{
	background-color: #f0f0f0;
	color: #000;
	margin-top: 20px;
}
.zh-company-wrap{
	width: 1000px;
	margin: 0 auto;
}
.zh-company-wrap>h2{
	font-size: 24px;
	line-height: 34px;
	position: relative;
}
.zh-company-wrap>h2 .bg-line{
	width: 100%;
	height: 1px;
	background-color: #ddd;
	position: absolute;
	top: 17px;
}
.zh-company-wrap>h2 span.zh-title{
	padding: 0 25px;
	line-height: 34px;
	background-color: #f6f6f6;
	position: relative;
	z-index: 9;
}
.zh-company-wrap>p.under-title{
	font-size: 14px !important;
	text-align: center;
	margin-bottom: 30px;
}
.zh-company-wrap>p>a{
	font-size: 14px;
	padding: 0 5px;
}
.apply{
	padding-top: 0;
}
.apply_form#index_apply{
	margin: 45px 0;
}
.zh-company-about{
	width: 100%;
	padding: 50px 0;
	background-color: #f6f6f6;
}
.zh-company-about h2{
	text-align: center;
}
.zh-company-about h2 span.zh-title{
	background-color: #f6f6f6;
}
.zh-company-wrap h2 span.zh-more{
	font-size: 14px;
	position: absolute;
	top: 70px;
	right: 0;
}
.zh-company-about .zh-company-wrap p{
	line-height: 25px;
	font-size: 14px;
}
.zh-company-about .zh-company-wrap>p>a{
	border: none;
	font-size: 14px;
}
.zh-company-about .zh-company-wrap>p>a:hover{
	color: #ff4401;
	text-decoration: none;
}
.zh-company-designteam{
	width: 100%;
	padding: 40px 0 45px;
	text-align: center;
	background: #f6f6f6;
}
.zh-company-designteam .zh-company-wrap>ul{
	margin-top: 50px;
	}
.zh-company-designteam .zh-company-wrap>ul:after{
	content: "";
	display: block;
	clear: both;
}
.zh-company-designteam .zh-company-wrap>ul>li{
	float: left;
	width: 235px;
	height: 324px;
	padding-bottom: 10px;
	margin-right: 20px;
	background-color: #fff;
	position: relative;
	text-align: center;
}
.zh-company-designteam .zh-company-wrap>ul>li:hover{
	box-shadow: 0 0 2px 2px #888;
}
.zh-company-designteam .zh-company-wrap>ul>li img{
	display: block;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-top: 20px;
}
.zh-company-designteam .zh-company-wrap>ul>li div.veil{
	width: 244px;
	height: 305px;
	position: absolute;
	top: -305px;
	left: 0;
	background: rgba(255,255,255,0.5);
	text-align: center;
}
.zh-company-designteam .zh-company-wrap>ul>li div h2{
	margin-top: 15px;
	margin-bottom: 5px;
}
.zh-company-designteam .zh-company-wrap>ul>li div p{
	width: 180px;
	font-size: 14px;
	margin: 0 auto;
	text-align: initial;
}
.zh-company-designteam .zh-company-wrap>ul>li div ul{
	width: 180px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 10px;
}
.zh-company-designteam .zh-company-wrap>ul>li div ul li{
	float: left;
	width: 35px;
	height: 35px;
	margin: ;
}

.zh-company-designteam .zh-company-wrap>ul>li div ul li a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-image: url(../images/call_icon.png);
	background-repeat: no-repeat;
}
.zh-company-designteam .zh-company-wrap>ul>li div ul li:nth-child(1){
	margin-right: 37px;
}
.zh-company-designteam .zh-company-wrap>ul>li div ul li:nth-child(1) a{
	background-position: -8px -8px;
}
.zh-company-designteam .zh-company-wrap>ul>li div ul li:nth-child(1) a:hover{
	background-position: -8px -48px;
}
.zh-company-designteam .zh-company-wrap>ul>li div ul li:nth-child(2){
	margin-right: 30px;
}
.zh-company-designteam .zh-company-wrap>ul>li div ul li:nth-child(2) a{
	background-position: -60px -8px;
}
.zh-company-designteam .zh-company-wrap>ul>li div ul li:nth-child(2) a:hover{
	background-position: -60px -48px;
}
.zh-company-designteam .zh-company-wrap>ul>li div ul li:nth-child(3) a{
	background-position: -100px -8px;
}
.zh-company-designteam .zh-company-wrap>ul>li div ul li:nth-child(3) a:hover{
	background-position: -100px -48px;
}
.zh-company-designteam .zh-company-wrap>ul>li>p{
	line-height: 28px;
	font-size: 18px;
	margin-top: 8px;
}
.zh-company-designteam .zh-company-wrap>ul>li a{
	display: inline-block;
	color: #fff;
	font-size: 14px;
	padding: 3px 30px;
	border-radius: 15px;
	background-color: #03b085;
	margin-top: 20px;
}
.zh-company-designteam .zh-company-wrap>ul>li a:hover{
	color: #fff;
	background-color: #ff4401;
}
.zh-company-designteam .zh-company-wrap>ul>li:nth-child(4n){
	margin-right: 0;
}

.zh-company-anli{
	width: 100%;
	background-color: #f6f6f6;
	padding: 45px 0 45px;
	text-align: center;
}
.zh-company-anli ul{
	height: 358px;
	overflow: hidden;
	margin-top: 50px;
}
.zh-company-anli h2 span.zh-title{
	background-color: #f6f6f6;
}
.zh-company-anli ul>li{
	float: left;
	width: 244px;
	height: 172px;
	overflow: hidden;
	/*border: 2px solid #f6f6f6;*/
	margin-right: 14px;
	
}

.zh-company-anli ul>li img{
	width: 244px;
	height: 172px;
	transition: 0.8s;
}
.zh-company-anli ul>li:hover img{
	transform: scale(1.1);
}
.zh-company-anli ul>li:first-child{
	width: 484px;
	height: 358px;
}
.zh-company-anli ul>li:first-child img{
	width: 484px;
	height: 358px;
}
.zh-company-anli ul>li:nth-child(3),.zh-company-anli ul>li:nth-child(5){
	margin-right: 0;
}
.zh-company-anli ul>li:nth-child(2),.zh-company-anli ul>li:nth-child(3){
	margin-bottom: 14px;
}
.zh-company-news{
	width: 100%;
	padding: 45px 0;
	overflow: hidden;
	background: #f6f6f6;
}

.zh-company-news .zh-company-wrap h2{
	line-height: 26px;
	font-size: 24px;
	margin-bottom: 30px;
	position: relative;
}
.zh-company-news .zh-company-wrap .left-part h2 span{
	position: absolute;
	right: 95px;
	top: 6px;
	font-size: 14px;
}
.zh-company-news .zh-company-wrap .right-part h2 span{
	position: absolute;
	right: 0;
	top: 6px;
	font-size: 14px;
}
.zh-company-news .left-part{
	float: left;
	width: 475px;
	margin-right: 50px;
}
.zh-company-news .left-part .img-wrap{
	width: 382px;
	height: 256px;
	position: relative;
}
.zh-company-news .left-part .img-wrap>a{
	display: block;
	width: 378px;
	height: 252px;
	border: 2px solid #fff;
	transition: 0.8s;
}
.zh-company-news .left-part .img-wrap>a:hover{
	border-color: #ff4401;
}
.zh-company-news .left-part .img-wrap img{
	width: 378px;
	height: 252px;
}
.zh-company-news .left-part .img-wrap p{
	width: 378px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	position: absolute;
	bottom: 2px;
	background: rgba(0,0,0,0.6);   
}


.zh-company-news .left-part .text-wrap{
	height: 40px;
	padding-top: 10px;
	position: relative;
}
.zh-company-news .left-part>a{
	background-color: #f0f0f0;
	display: block;
}
.zh-company-news .left-part>a:hover{
	box-shadow: 0 0 3px 2px #888;
	color: #888;
}


.zh-company-news .right-part{
	float: right;
	width: 475px;
}
.zh-company-news .zh-company-wrap .right-part h3{
	line-height: 30px;
	font-size: 16px;
	color: #333;
	font-weight: 500;
	margin-bottom: 15px;
	border-bottom: 1px dashed #888;
}
.zh-company-news .zh-company-wrap .right-part h3 span.zh-update-time{
	float: right;
	line-height: 22px;
	color: ;
}

.zh-company-news .zh-company-wrap .right-part a:hover h3{
	color: #ff4401;
}

.zh-tool-wrap{
	width: 100%;
	background-color: #f6f6f6;
}
.tool{
	width:1200px;
	height: auto;
	margin:0 auto;
	padding-top:60px;
	overflow: hidden;
}
.tool p{
	width:100%;
	height:13px;
	background: url(../images/line-bg0.png) no-repeat;
}
.tool ul{
	margin-top:30px;
}
.tool ul li{
	width:181px;
	height:81px;
	line-height: 83px;
	font-size:18px;
	background: #F8F8F8;
	border: 1px solid #888;
	border-radius: 10px;
	float:left;
	margin-left:20px;
}
.tool ul li a:hover{
	color: #ff4401;
}
.tool ul li:first-child{
	margin-left:0px;
}
.tool ul li span{
	width: 50px;
    height: 50px;
    display: block;
    float: left;
    margin-top: 15px;
    margin-left: 14px;
    margin-right: 15px;
}
.tool ul li:first-child span{
	background: url(../images/tool_img.jpg) no-repeat;
}
.tool ul li:nth-child(2) span{
	background: url(../images/tool_img.jpg) -50px 0px no-repeat;
}
.tool ul li:nth-child(3) span{
	background: url(../images/tool_img.jpg) -100px 0px no-repeat;
}
.tool ul li:nth-child(4) span{
	background: url(../images/tool_img.jpg) -0px -50px no-repeat;
}
.tool ul li:nth-child(5) span{
	background: url(../images/tool_img.jpg) -50px -50px no-repeat;
}
.tool ul li:nth-child(6) span{
	background: url(../images/tool_img.jpg) -100px -50px no-repeat;
}
.tool{
	width: 1000px;
	padding: 0 0 60px;
}























