 	body.smallpage{
        background: url("../images/left-bar-bg.jpg");
    }
    .sub_topnav{
 		height: 80px;
 		margin-bottom: 0;
 	}
 	.sub_topnav p{
 		line-height: 80px;
 		font-size: 16px;
 	}
 	.about-lt{
        width:170px;
    }

    .about-lt  li{
        width:158px;
        height:55px;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        margin-bottom:10px;
    }
	
    .about-lt li:first-child p{
        background:#66C02A;
    }
    .about-lt li:first-child:hover{
    	background:#66C02A;
    }
    .about-lt li:first-child.active{
    	background:#66C02A;
    }
    .about-lt li:nth-child(2) p{
        background:#3EC6D2;
    }
    .about-lt li:nth-child(2):hover{
        background:#3EC6D2;
    }
    .about-lt li:nth-child(2).active{
    	background:#3EC6D2;
    }
    .about-lt li:nth-child(3) p{
        background:#ED4F4E;
    }
    .about-lt li:nth-child(3):hover{
        background:#ED4F4E;
    }
    .about-lt li:nth-child(3).active{
    	 background:#ED4F4E;
    }
    .about-lt li:nth-child(4) p{
        background:#00A6F4;
    }
    .about-lt li:nth-child(4):hover{
        background:#00A6F4;
    }
    .about-lt li:nth-child(4).active{
    	background:#00A6F4;
    }
    .about-lt li:nth-child(5) p{
        background:#C56BDD;
    }
     .about-lt li:nth-child(5):hover{
        background:#C56BDD;
    }
    .about-lt li:nth-child(5).active{
    	background:#C56BDD;
    }
    .about-lt li:nth-child(6) p{
        background:#F69101;
    }
     .about-lt li:nth-child(6):hover{
        background:#F69101;
    }
    .about-lt li:nth-child(6).active{
    	background:#F69101;
    }

    .about-lt a{
        display:inline-block;
        width:96px;
        height:41px;
        margin-top: 7px;
        line-height:41px;
        border-left: 1px solid #fff;
        float:left;
        font-size:16px;
        text-align:center;
        font-family:"微软雅黑";
    }

    .about-lt li:hover a{
        color:#fff;
        text-decoration:none;
    }
	.about-lt li.active a{
		color: #fff;
	}
    .about-lt p{
        width:60px;
        height:55px;
        float:left;
    }
    .about-lt p i{background:url(../images/tool_img.jpg) no-repeat;display:inline;width:50px;
        height:50px;float:left;margin-left:5px;border-radius:15px;}

    .about-lt li:first-child i{
        background-position:0 0;
    }
    .about-lt li:nth-child(2) i{
        background-position:-50px 0;
    }
    .about-lt li:nth-child(3) i{
        background-position:-100px 0;
    }
    .about-lt li:nth-child(4) i{
        background-position:0 -50px;
    }
    .about-lt  li:nth-child(5) i{
        background-position:-50px -50px;
    }
    .about-lt  li:nth-child(6) i{
        background-position:-100px -50px;
    }

    /*右侧样式*/
   .about-rt{
       margin-left:20px;
       width:798px;
       margin-bottom:20px;
       border:1px solid lightgrey;
       background: #FFF;
   }

    .about-rt h3{
        width:750px;
        margin:0 auto;
        float:right;
    }

    .about-rt input:hover{
        border:1px solid #3A96FF;
    }
    .about-rt .diban-rt{
        width:730px;
        margin:0 auto;
    }
   .about-rt .qiangzhuan-rt{
     width:730px;
     margin:0 auto;
    }
    .about-rt .chuanglian-rt{
     width:730px;
     margin:0 auto;
    }
    .about-rt .dizhuan-rt{
     width:730px;
     margin:0 auto;
    }

 /*尾部*/
    .last{
        width:1000px;
        height:200px;
        margin:10px auto;
    }

    .last li{
        display:inline-block;
        width:232px;
        height:170px;
        overflow:hidden;
        margin-top:20px;
        margin-right:20px;
        position:relative;
        left:0;
        bottom:10px;
    }
    .last li:hover{
        box-shadow: 2px 2px 3px #888888;
    }
    .last li:last-child{
        margin-right:0px;
    }
    .last li img{
        width:235px;
        height:170px;
    }

    .counter_btn{
        float:left;
        margin-left:26px;
        margin-top:20px;
        width:600px;
        background-color: #fff;
    }