@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
}
body{
	font-family: "微软雅黑";
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.content{
	width: 1200px;
	margin: 0 auto;
}
.title{
	width: 1180px;
	padding-left: 20px;
	margin: 10px 0;
	font-size: 14px;
	color: #888;
	position: relative;
}
.title .triangle{
	display: block;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-left-color: #ff4401;
	position: absolute;
	left: 6px;
	top: 7px;
}
.title a{
	color: #888;
}
.title a:hover{
	color: #ff4401;
}
.information-wrap{
	width: 100%;
	overflow: hidden;
}
.information{
	width: 890px;
}
.information-top{
	width: 820px;
	overflow: hidden;
	padding: 8px 34px;
	border-bottom: 1px solid #888;
	
}
.information-top .num{
	width: 80px;
	height: 60px;
	padding-right: 35px;
	text-align: center;
	border-right: 1px solid #888;
}
.information-top .num p:first-child{
	color: #fff;
	background-color: #ff4401;
	font-size: 14px;
	line-height: 24px;
}
.information-top .num p:last-child{
	color: #888;
	background-color: #eeeeee;
	line-height: 36px;
}
.strong{
	color: #ff4401;
	font-size: 20px;
}
.zhaobiao-information{
	margin-left: 20px;
}
.zhaobiao-information h2{
	padding-right: 56px;
	position: relative;
}
.zhaobiao-information h2 .zhaobiaoing{
	padding: 0 6px;
	border-radius: 3px;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	background-color: #ff4401;
	position: absolute;
	right: 0;
	top: 3px;
}
.zhaobiao-information>span:first-of-type{
	margin-right: 20px;
}
.information-bottom{
	width: 820px;
	padding: 8px 34px;
	margin-top: 15px;
}
.information-bottom table{
	display: block;
	width: 831px;
	border-collapse: collapse;
	word-wrap:break-word;
}
.information-bottom td{
	text-align: center;
	line-height: 52px;
	font-size: 14px;
}
.information-bottom tr>td:nth-child(2n+1){
	background-color: #f8f8f8;
	width:100px
}
.information-bottom tr>td:nth-child(2n){
	width: 177px;
}
.information-bottom .demand>td:first-child{
	line-height: 115px;
}
.information-bottom .demand>td:last-child{
	text-align: left;
	width: 730px;
	line-height: 30px;
}
.information-bottom .demand .demand-text{
	width: 710px;
	padding-left: 20px;
	overflow: hidden;
}

.zh-left-banner{
	float: right;
	margin-top: 15px;
}
.zh-left-banner .btn_sub_apply{
	background-color: #ff4401;
}

.join-company-wrap{
	width: 100%;
	margin: 20px 0;
	overflow: hidden;
}
.join-company{
	width: 830px;
	padding: 0 34px;
	float: left;
}
.join-company>h2{
	font-size: 20px;
	padding-left: 5px;
	background-color: #f8f8f8;
	line-height: 50px;
	margin-bottom: 25px;
}
.join-company>h2>a{
	float: right;
	line-height: 30px;
	padding: 5px 15px;
	color: #fff;
	position: relative;
	font-size: 18px;
	top: 3px;
	background-color: #ff4401;
}
.join-company>ul>li{
	width: 100%;
	height: 68px;
	padding: 13px 0;
	border-bottom: 1px solid #888;
	overflow: hidden;
}
.join-company>ul>li>img{
	width: 68px;
	height: 68px;
	margin: 0 15px 0 8px;
	border: 1px solid #888;
	float: left;
}
.join-company>ul>li>p{
	float: left;
	line-height: 68px;
	font-size: 18px;
	width: 736px;
}
.join-company>ul>li>p>span:first-child{
	font-size: 14px;
	color: #fff;
	background-color: #ff4401;
	line-height: 30px;
	padding: 0px 8px;
}
.join-company>ul>li>p>span:last-child{
	font-size: 14px;
	float: right;
}
.banner {
	float: right;
	width: auto;
}


.banner .banner_right{
	margin: 0;
	float: right;
}















