@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
}
body{
	font-family: "微软雅黑",arial;
}
img{
	border: none;
}
a{
	text-decoration: none;
}
ul:after{
	content: "";
	display: block;
	clear: both;
}
li{
	list-style: none;
}

.zh-show{
	width: 100%;
	background:#06b166 no-repeat center;
}
.zh-show .wrap{
	width: 1180px;
	height: 500px;
	margin: 0 auto;
	position: relative;
}

.zh-show .wrap img{
	vertical-align: middle;
}
.zh-show .banner-gif{
	position: absolute;
	top: 94px;
	right: 420px;
}
/*.zh-show .order{
	width: 244px;
	height: 360px;
	padding: 10px 28px;
	position: absolute;
	right: 5px;
	top: 30px;
	background-color: #fff;
	text-align: center;
	border-top: 2px solid #01b061;
	box-shadow: 0 1px 5px 2px #888;
}
.zh-show .order h2{
	margin-bottom: 10px;
	margin-top: 8px;
	font-size: 25px;
	color: #01b061;
}
.zh-show .order p{
	margin-bottom: 15px;
}

.zh-show .order .btn{
	margin-top: 0;
}
.zh-show .order p:nth-child(2){
}
.zh-show .order p:last-child span{
	color: #ff4401;
}
.zh-show .order input{
	width: 220px;
	padding: 0 10px;
	height: 35px;
	line-height: 40px;
	font-size: 14px;
	margin-bottom: 8px;
}
.zh-show .order form .text-group{
	overflow: hidden;
	margin-bottom: 8px;
	color: inherit;
}
.zh-show .order form .text-group select{
	height: 35px;
	line-height: 35px;
	padding-left: 7px;
	float: left;
	font-size: 14px;
	color: #666666;
	margin-top: 0;
	border-width: 1px;
	border-color: #888;
}
.zh-show .order form .text-group select:nth-child(1){
	width: 66px;
}
.zh-show .order form .text-group select:nth-child(2){
	width: 66px;
	margin-left: 6px;
}
.zh-show .order form .text-group select:nth-child(3){
	width: 100px;
	margin-left: 6px;
}
.zh-show .order form>input:last-child{
	width: 240px;
	font-size: 18px;
	height: 40px;
	margin-top: 10px;
	font-family: "微软雅黑";
	background-color: #ff4401;
	border: none;
	color: #fff;
	cursor: pointer;
}*/



/*.zh-show .tenders-form{
	width: 440px;
	padding: 10px 28px;
	position: absolute;
	right: 5px;
	top: 0px;
	
}
.zh-show .tenders-form .tenders-wrap{
	box-shadow: 0 1px 1px 2px #dedede;
	overflow: hidden;
}
.zh-show .tenders-form h2{
	background-color: #ff4401;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	color: #fff;
}
.zh-show .tenders-form form{
	background-color: #fff;
	padding: 10px 0 20px;
}
.zh-show .tenders-form label{
	width: 50%;
	line-height: 35px;
	padding: 0 8px;
	float: left;
	font-size: 14px;
	margin: 10px 0;
	box-sizing: border-box;
}
.zh-show .tenders-form label:nth-child(n+3){
	padding-left: 10px;
}
.zh-show .tenders-form label:nth-child(n+3) input{
	width: 61%;
}
.zh-show .tenders-form label:nth-child(n+3) select{
	width: 61%;
}
.zh-show .tenders-form label input,.zh-show .tenders-form label select{
	float: left;
	width: 60%;
	height: 35px;
	color: #666;
	box-sizing: border-box;
	margin: initial;
	vertical-align: initial;
	outline-color:none;
}
.zh-show .tenders-form label select{
	outline-color: #ff4401;
}
.zh-show .tenders-form label input{
	outline: none;
	border: 1px solid #dedede;
	padding-left: 3px;
}
.zh-show .tenders-form label input:focus{
	border-color: #ff4401;
}
.zh-show .tenders-form label span{
	float: left;
}
.zh-show .tenders-form label span b{
	color: red;
}
.zh-show .tenders-form .ten-sel-group{
	float: left;
	margin: 10px 0 10px 9px;
}
.zh-show .tenders-form .ten-sel-group span{
	font-size: 14px;
	float: left;
	line-height: 35px;
}
.zh-show .tenders-form .ten-sel-group select.text{
	float: left;
	margin-top: 0;
	border: 1px solid #dedede;
	width: 98px;
	margin-right: 6px;
	outline-color: #ff4401;
}
.zh-show .tenders-form .ten-sel-group select.text:last-child{
	width: 136px;
	margin-right: 0;
}
.zh-show .tenders-form label.ch-check{
	width: initial;
	display: block;
	width: 80%;
}
.zh-show .tenders-form label.ch-check input{
	width: initial;
	margin-top: 1px;
	margin-right: 8px;
}
.zh-show .tenders-form label.ch-check a{
	color: #01af63;
}
.zh-show .tenders-form label.ch-check a:hover{
	color: #ff4401;
	text-decoration: underline;
}
.zh-show .tenders-form p{
	font-size: 14px;
	padding-left: 9px;
}
.zh-show .tenders-form p:last-child{
	font-size: 12px;
	margin-top: 10px;
}
.zh-show .tenders-form p input{
	line-height: 35px;
	font-size: 16px;
	padding: 0 15px;
	margin-right: 8px;
	background-color: #ff4401;
	color: #fff;
	border: none;
	cursor: pointer;
}
.zh-show .tenders-form p span.font-green{
	color: #ff4401;
}*/


.tenders-form2{
	position: absolute;
	top: 15px;
	right: 20px;
	width: 330px;
	height: 465px;
	box-sizing: border-box;
	background-color: #fff;
}
.tenders-form2 form{
	padding: 0 42px;
}
.tenders-form2 div{
	overflow: hidden;
}
.tenders-form2 h2{
	background-color: #ff4401;
	font-size: 20px;
	line-height: 48px;
	text-align: center;
	color: #fff;
}
.tenders-form2 p{
	line-height: 16px;
	margin: 10px 0 20px;
	text-align: center;
	font-size: 14px;
}
.tenders-form2 p:last-child{
	text-align: left;
	margin: 0;
	font-size: 12px;
}
.tenders-form2 p span.stress{
	color: #ff4401;
}
.tenders-form2 input{
	width: 100%;
	margin-bottom: 12px;
	line-height: 34px;
	padding-left: 15px;
	border: 1px solid #dedede;
	box-sizing: border-box;
	font-size: 14px;
}
.tenders-form2 input:focus{
	border-color: #ff4401;
	outline: none;
}
.tenders-form2 .input_group input{
	width: 120px;
	float: left;
	margin-right: 5px;
}
.tenders-form2 label.ch-check{
	font-size: 13px;
}
.tenders-form2 label.ch-check input{
	width: initial;
	margin: 0;
	vertical-align: middle;
	position: relative;
	top: -1px;

}
.tenders-form2 label.ch-check a{
	color: #ff4401;
}
.tenders-form2 label.ch-check a:hover{
	text-decoration: underline;
}
.tenders-form2 .input_group input:last-child{
	margin-right: 0;
}

.tenders-form2 select{
	width: 120px;
	height: 36px;
	float: left;
	margin-right: 5px;
	padding-left: 15px;
	border: 1px solid #dedede;
	box-sizing: border-box;
	font-size: 14px;
}
.tenders-form2 select:focus{
	border-color: #ff4401;
	outline: none;
}

.tenders-form2 .area-sel-group select{
	width: 70px;
	margin-top: 12px;
	margin-bottom: 20px;
}
.tenders-form2 .area-sel-group select:last-child{
	width: 96px;
}
.tenders-form2 select:last-child{
	margin-right: 0;
}

.tenders-form2 input[type=submit]{
	background-color: #ff4401;
	color: #fff;
	margin-top: 5px;
	padding-left: 0;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
.tenders-form2 input[type=submit]:hover{
	opacity: 0.9;
}



.ch-wrap{
	width: 100%;
	background-color: #f6f6f6;
}
.ch-liucheng{
	width: 1200px;
	margin:0 auto;
}
.ch-liucheng ul{
	overflow: hidden;
}
.ch-liucheng ul li{
	float: left;
	width: 236px;
	padding: 20px 0;
	text-align: center;
}
.ch-liucheng ul li i{
	display: block;
	width: 72px;
	height: 72px;
	margin: 0 auto;
	border-radius: 36px;
	background: url(../images/tenders-mainIco.png) no-repeat 2px -2px;
	background-color: #01af63;
}
.ch-liucheng ul li:nth-child(2) i{
	background-position: -72px 0;
}
.ch-liucheng ul li:nth-child(3) i{
	background-position: -144px 0;
}
.ch-liucheng ul li:nth-child(4) i{
	background-position: -212px -2px;
}
.ch-liucheng ul li:nth-child(5) i{
	background-position: -288px 0;
}

.ch-liucheng ul li i:hover{
	background-image: url(../images/tenders-mainIcoHover.png);
	background-color: #aef5d6;
}

.ch-liucheng ul li p{
	font-size: 16px;
	font-weight: 700;
}
.ch-liucheng ul li p:last-child{
	font-weight: 500;
	font-size: 14px;
	color: #888;
}



.ch-tired{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding: 50px 0;
}
.ch-tired>div{
	float: left;
}
.ch-tired h1{
	text-align: center;
	color: #01af63;
	font-size: 35px;
	margin: 0 0 20px;
}
.ch-tired .tired-left{
	width: 465px;
}
.ch-tired .tired-middle{
	margin: 15px 30px 0;
	
}
.ch-tired .tired-middle i{
	display: block;
	width: 200px;
	height: 200px;
	background: url(../images/zhaobiao001.png) no-repeat 0 0;
}
.ch-tired .tired-middle p{
	font-size: 35px;
	text-align: center;
	color: #eaaa0c;
	line-height: initial;
}
.ch-tired .tired-right{
	width: 465px;
}
.ch-tired .i_text{
	overflow: hidden;
	margin: 30px 0 50px;
}
.ch-tired .i_text i{
	width: 80px;
	height: 80px;
	float: left;
	margin: 0 20px;
	background: url(../images/zhaobiao003.png) no-repeat 0 0;
}

.ch-tired .tired-left .i_text:nth-child(2) i{
	background-position: -160px 0;
}
.ch-tired .tired-right .i_text:nth-child(1) i{
	background-position: -80px 0;
}
.ch-tired .tired-right .i_text:nth-child(2) i{
	background-position: -240px 0;
}
.ch-tired .i_text p{
	float: left;
	width: 330px;
	font-size: 18px;
	color: #666;
}

.ch-result{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	/*padding: 50px 0;*/
}
.ch-result h1{
	text-align: center;
	color: #01af63;
	font-size: 35px;
	margin: 0 0 20px;
}
.ch-result>div{
	float: left;
}
.ch-result .result-left{
	width: 465px;
	text-align: right;
	color: #666;
}
.ch-result .result-left .txt{
	text-align: left;
}
.ch-result .result-middle{
	margin: 30px 30px 0;
}
.ch-result .result-middle i{
	display: block;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background: url(../images/zhaobiao002.png) no-repeat 20px 20px;
}
.ch-result .txt{
	padding: 10px 20px;
	font-size: 16px;
	display: inline-block;
	width: 350px;
	margin-top: 20px;
	margin-bottom: 30px;
	border: 2px solid #01af63;
	border-radius: 10px;
}
.ch-result .txt:hover{
	color: #fff;
	background-color: #01af63;
}
.ch-result .result-right{
	width: 465px;
	color: #666;
}

.xinzeng{
	width: 1200px;
	margin: 0 auto;
	padding: 50px 0;
}
.xinzeng>h1{
	text-align: center;
	color: #01af63;
	font-size: 26px;
	margin: 0 0 20px;
}
.xinzeng>p{
	text-align: center;
	color: #888;
	padding: 0 100px;
	font-size: 16px;
	margin: 0 0 20px;
}
.xinzeng ul{
	overflow: hidden;
}
.xinzeng ul li{
	float: left;
	width: 370px;
	padding-top: 20px;
	margin-right: 45px;
	text-align: center;
}
.xinzeng ul li:last-child{
	margin-right: 0;
}
.xinzeng ul li img{
	transition: 0.8s;
}
.xinzeng ul li img:hover{
	transform: translate(0,-10px);
	box-shadow: 0 0 2px 1px #888;
}

.xinzeng ul li p{
	font-size: 16px;
	color: #888;
	margin-top: 10px;
}
.Reliable ul li.tenders-li:hover{
	box-shadow: 0 0 2px 1px #01af63;
}
.zh-content{
	width:1200px;
	margin: 0 auto;
}
.zh-procedure{
	width: 1200px;
	padding: 10px 0;
	margin-top: 20px;
	margin-bottom: 60px;
	background-color: #fff4e7;
}
.zh-procedure ul{
	overflow: hidden;
}
.zh-procedure ul li{
	padding: 0 39px;
	float: left;
	border-right: 3px solid #fff;
}
.zh-procedure ul li:nth-child(1):hover p{
	color: #aa78bf;
}
.zh-procedure ul li:nth-child(2):hover p{
	color: #00b6b1;
}
.zh-procedure ul li:nth-child(3):hover p{
	color: #ff8b1a;
}
.zh-procedure ul li:nth-child(4):hover p{
	color: #45c4fb;
}
.zh-procedure ul li:nth-child(5):hover p{
	color: #dd7ecf;
}
.zh-procedure ul li:last-child{
	border: none;
}
.zh-procedure ul li span{
	display: inline-block;
	height: 84px;
	width: 112px;
	margin: 0 auto;
	position: relative;      
	left: 13px;
}
.zh-procedure ul li h3{
	text-align: center;
}
.zh-procedure ul li p{
	width: 155px;
	text-align: center;
	font-size: 14px;
}
.zh-procedure ul>li:nth-child(1) span{
	background: url(../images/zhaobiao-tb.png) no-repeat 10px;
	}
.zh-procedure ul>li:nth-child(2) span{
	background: url(../images/zhaobiao-tb.png) no-repeat -117px;
	position: relative;
	left: 25px;
}
.zh-procedure ul>li:nth-child(3) span{
	background: url(../images/zhaobiao-tb.png) no-repeat -220px;
}
.zh-procedure ul>li:nth-child(4) span{
	background: url(../images/zhaobiao-tb.png) no-repeat -330px;
}
.zh-procedure ul>li:nth-child(5) span{
	background: url(../images/zhaobiao-tb.png) no-repeat -470px;
	position: relative;
	left: 40px;
}
.zh-tip,.zh-detial,.zh-company,.zh-trick,.zh-customer,.zh-sales,.zh-tools,.zh-friend{
	width: 1180px;
	margin: 0 auto;
}
.bg{
	width: 1180px;
	margin:  0 auto;
	background: url(../images/line-bg.png) no-repeat 0 15px;
	text-align: center;
}
.bg h1{
	text-align: center;
	display: inline-block;
	font-size: 26px;
	padding: 0 46px;
	line-height: 40px;
	background-color: #fff;
	position: relative;
}
.bg h1 span{
	width: 13px;
	height: 12px;
	position: absolute;
	
}
.left-bg{
	background: url(../images/left-bg.jpg) no-repeat;
	left: -6px;
	top: 16px;
	
}
.right-bg{
	background: url(../images/right-bg.jpg) no-repeat;
	right: -3px;
	top: 16px;
}
.zh-detial{
	margin-top: 30px;
}
.zh-detial ul li{
	width: 380px;
	float: left;
	margin-right: 20px;
	overflow: hidden;
}
.zh-detial ul li img{
	width: 380px;
	height: 230px;
	vertical-align: bottom;
	transition: 0.5s;
}
.zh-detial ul>a:last-child li{
	margin: 0;
}
.zh-detial ul li .text {
	width: 100%;
	background-color: #f8f8f8;
	padding-top: 20px;
	padding-bottom: 15px;
}
.zh-detial ul li:hover,.zh-trick-list ul li:hover{
	box-shadow: 0 0 2px 1px #01af63;
}
.zh-detial ul li:hover img{
	transform: scale(1.1);
}
.zh-detial .img-wrap,.zh-sales .img-wrap{
	overflow: hidden;
}
.zh-detial ul li .text p:first-child{
	font-size: 18px;
	color: #333;
	line-height: 15px;
	padding: 0 12px;
}
.zh-detial ul li .text p:last-child{
	font-size: 14px;
	color: #666;
	line-height: 25px;
	padding: 0 15px;
	text-indent: 2em;
}
.zh-company{
	margin:50px 0;
}
.zh-company .list{
	width: 1160px;
	padding: 10px;
	margin-top: 30px;
	background-color: #f8f8f8;
}
.zh-company .list ul li{
	float: left;
	margin-right: 16px;
}
.zh-company .list ul li:nth-child(6n){
	margin-right: 0;
}
.zh-company .list ul li:nth-child(-n+6){
	margin-bottom: 10px;
}
.zh-company .list ul li img{
	width: 180px;
}
.zh-trick{
	padding-top: 50px;
}
.zh-trick-list{
	margin: 50px 0;
}
.zh-trick-list ul li{
	float: left;
	width: 344px;
	height: 130px;
	padding: 20px;
	margin-right: 14px;
	background-color: #f8f8f8;
}
.zh-trick-list ul li:nth-child(3n){
	margin-right: 0;
}
.zh-trick-list ul li:nth-child(-n+3){
	margin-bottom: 14px;
}
.zh-trick-list ul li h2{
	color: #01af63;
	font-size: 20px;
	text-align: center;
	font-weight: 500;
}
.zh-trick-list ul li p{
	font-size: 14px;
	margin-top: 10px;
	color: #666;
}
.zh-customer{
	margin: 50px 0;
}
.zh-customer-list{
	margin-top: 50px;
}
.zh-customer-list li{
	overflow: hidden;
}
.zh-customer-list .t-head{
	font-size: 18px;
	line-height: 60px;
	overflow: hidden;
	background-color: #01af63;
}
.zh-customer-list .t-head span{
	width: 196px;
	float: left;
	text-align: center;
	color: #888;
	color: #fff;
}
.zh-customer-list .run-ul li span{
	float: left;
	width: 196px;
	line-height: 40px;
	font-size: 14px;
	text-align: center;
	color: #888;
}
.zh-customer-list .run-ul li span:nth-child(4){
	width: 200px;
}
.zh-customer-list span a{
	color: red;
	text-decoration: underline;
}
.zh-customer-list .run-box{
	height: 369px;
	position: relative;
	overflow: hidden;
}
.zh-customer-list .run-ul{
	position: absolute;
	background-color: #f8f8f8;
}
.zh-customer-list .run-ul li{
	border-bottom: 1px dashed #888;
}
.zh-sales .bg,.zh-tools .bg{
	height: 40px;
}
.zh-sales-list{
	margin-top: 30px;
}
.zh-sales-list ul li{
	float: left;
	width: 378px;
	overflow: hidden;
	padding: 3px 3px 15px;
	margin-right: 14px;
	background-color: #f0f0f0;
	position: relative;
}
.zh-sales-list ul li:hover{
	box-shadow: 0 0 3px 2px #888;
}
.zh-sales-list ul li:nth-child(3n){
	margin-right: 0;
}
.zh-sales-list ul li:nth-child(-n+3){
	margin-bottom: 20px;
}
.zh-sales-list ul li img{
	width: 378px;
	height: 252px
}
.zh-sales-list ul li>p{
	font-size: 16px;
	margin-top: 10px;
	padding-left: 23px;
}
.zh-sales-list ul li>div {
	position: relative;
}
.zh-sales-list ul li>div>p{
	font-size: 14px;
	height: 30px;
	color: #888;
	margin-top: 15px;
	padding-left: 23px;
}
.time-ico{
	width: 17px;
	height: 17px;
	background: url(../images/ico1.png) no-repeat 0 -16px;
	position: absolute;
	left: 3px;
	top: 6px;
}
.zh-sales-list ul li>a{
	position: absolute;
	right: 10px;
	bottom: 15px;
	width: 82px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	color: #fff;
}
a.end{
	background-color: #888;
}
a.ing{
	background-color: #ff4301;
}
.zh-tools{
	margin: 50px 0;
}
.zh-tools-list{
	margin-top: 30px;
}
.zh-tools-list ul li{
	float: left;
	width: 174px;
	line-height: 100px;
	padding-left: 106px;
	margin-right: 20px;
	position: relative;
	background-color: #f8f8f8;
}
.zh-tools-list ul li:nth-child(3n){
	margin-right: 0;
}
.zh-tools-list ul li span{
	width: 50px;
	height: 52px;
	position: absolute;
	left: 40px;
	top: 19px;
	background-image: url("../images/ico2.png");
}
.zh-tools-list ul li p{
	font-size: 18px;
}
.zh-tools-list .baojia span{
	background-position: 0 -1036px;
}
.zh-tools-list .baojia p:hover{
	color: #e46087;
}

.zh-tools-list .caizhi span{
	background-position: 0 -1140px;
}
.zh-tools-list .caizhi p:hover{
	color: #ffb600;
}

.zh-tools-list ul li.zhuangdai span{
	top: 14px;
	background-position: 5px -1339px;
}
.zh-tools-list .zhuangdai p:hover{
	color: #f38341;
}

.zh-tools-list .goufang span{
	background-position: 0 -1256px;
}
.zh-tools-list .goufang p:hover{
	color: #87b866;
}

.zh-friend-wrap{
	width: 100%;
	border-top: 1px solid #888;
	padding-top: 20px;
	margin-bottom: 30px;
}
.zh-friend ul li{
	float: left;
	margin-right: 20px;
	line-height: 30px;
}
.zh-friend ul li a{
	color: #888;
}
.zh-friend ul li:first-child{
	font-size: 18px;
}

.zh-content .tool{
	margin-bottom: 50px;
}
