<?php
/**
 * Copy Right IJH.CC
 * Each engineer has a duty to keep the code elegant
 * #fileid#
 */

if(!defined('__CORE_DIR')){
    exit("Access Denied");
}

class Ctl_#module#_#ctl# extends Ctl
{
    
#items#

#so#

#detail#

#create#

#edit#

#doaudit#

#delete#

}